USE news
--主题表
CREATE TABLE `TOPIC`(
	`TID` int NOT NULL auto_increment PRIMARY KEY,
	`TNAME` varchar(50) NOT NULL);
--用户表
CREATE TABLE `NEWS_USERS`(
	`uid` int  NOT NULL auto_increment PRIMARY KEY,
	`uname` varchar(20) NOT NULL,
	`upwd` varchar(20) NOT NULL
);
--新闻表
CREATE TABLE `NEWS`(
	`NID` int NOT NULL auto_increment PRIMARY KEY,
	`NTID` int NOT NULL,
	`NTITLE` varchar(500) NOT NULL,
	`NAUTHOR` varchar(50) NOT NULL,
	`NCREATEDATE` datetime NULL,
	`NPICPATH` varchar(255) NULL,
	`NCONTENT` text NOT NULL,
	`NMODIFYDATE` datetime NULL,
	`NSUMMARY` varchar(4000) NOT NULL);
--评论表
CREATE TABLE `COMMENTS`(
	`CID` int NOT NULL auto_increment primary key,
	`CNID` int NOT NULL,
	`CCONTENT` varchar(3000) NOT NULL,
	`CDATE` datetime NOT NULL,
	`CIP` varchar(100) NOT NULL,
	`CAUTHOR` varchar(100) NOT NULL);
INSERT `TOPIC` (`TID`, `TNAME`) VALUES (1, '国内');
INSERT `TOPIC` (`TID`, `TNAME`) VALUES (2, '国际');
INSERT `TOPIC` (`TID`, `TNAME`) VALUES (3, '军事');

INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (48, 1, N'重庆涉黑富豪黎强夫妇庭审答辩言辞相互矛盾', N'news                                              ', CAST(0x00009CB000B19B94 AS DateTime), N'upload\2009102810463912.JPG', N'昨天，黎强案继续开庭。黎强的亲属、保护伞等人相继过堂。黎强亲属均否认参加黑社会性质组织。黎强的妻子伍树芹几乎对所有关键问题都以“不知道”、 “不晓得”作答，对有些无法逃避的问题，她则推向黎强，力图将自己与整件涉黑案撇清干系。庭审中，公诉人向伍树芹着重询问了“保护伞”的有关问题。她和丈 夫黎强的说法多处矛盾。
　　伍树芹说，她认识姜春艳是因为姜的小孩，他们两家结了“亲家”，但他们之间没有金钱往来，逢年过节也没有红包。她的这一回答与黎强的说法相左。前天，黎强当庭承认他给姜春艳送过钱，但称这是“逢年过节给的红包，属于礼尚往来，不是行贿”。
　　伍树芹向法官交代，黎强要用现金时都是从她这里取。法官问：“那黎强给别人送钱你有没有跟着一起去？”“没有。”“他有没有跟你说过拿钱去干什 么？”“没有。”公诉人问：黎强有没有拿过20万元的支票送给肖庆隆？伍树芹说黎强确实拿过20万元的支票，但“拿到哪里去了我不知道，他也没给我讲”。
　　承包出租车的价格
　　两种说法差距巨大
　　黎强案的另一名“保护伞”蒋洪曾以低于市场价6.5万元的价格承包了渝强公司的出租车，检方将此认定为行贿。黎强第一天庭审时辩称，他们公司是 民营公司，出租车承包价没有硬性规定，自己想多少钱承包给别人都可以，因而此项行贿指控并不成立。然而，伍树芹当庭多次十分肯定地说，公司出租车承包价都 是24万元或25万元。
　　谈及曾安东
　　伍树芹紧张语塞
　　重庆市地税局稽查局局长曾安东(另案处理)帮助渝强公司偷逃税款一事，伍树芹称不知情。她说并不认识曾安东，一开始也不知道他是什么人。曾安东第二次到她家之后，她才知道曾是税务局的人。
　　公诉人问：“税务局的人到你家去干什么？”
　　“跟黎强和黎萍商量工作上的事情。”伍树芹吞吞吐吐地回答。
　　“他是税务局的人为什么要去你家商量工作？谈工作他们完全可以在单位谈啊？”
　　伍树芹一时语塞。公诉人再次重复问题，伍树芹沉默良久还是没回答上来。
　　三顶“保护伞”自身难保
　　蒋洪两年没查出非法营运 姜春艳否认帮助获取指标
　　黎强案的三顶“保护伞”开始过堂。重庆市沙坪坝区交通运输管理所原所长肖庆隆最先“登场”。
　　肖庆隆曾收受黎强48万元贿赂，为黎强吞并百余辆运营车牵线搭桥。此外，黎强17辆非法运营车受到肖庆隆的“照顾”长达两年之久。
　　肖庆隆交待，黎强给他28万元，“当时我没学好法律知识，以为自己是介绍人身份，钱算是介绍费”。关于保护非法运营车的问题，肖庆隆辩称，当年获知黎强非法运营的并非运管所一家单位，“开会不止10次，辖区内的交通部门都知道，不单是我们，都没人去查。”
　　蒋洪
　　两年没查出非法营运
　　重庆市巴南区公路运输管理所原副所长蒋洪是黎强的另一把“保护伞”。黎强的33辆客车在其辖区内非法运营长达两年。
　　蒋洪辩称，两年间都未查出问题是因为“不知道”、“没人举报”。他还称，当时并不知道黎强的38台车未取得道路运输许可证。
　　至于低价承租黎强的出租车，蒋洪称自己主动找黎强承包出租车是因为那台换下来的车暂时还没有车主运营，承租价是黎强自己说的，他本人并不知道黎强给的价格低于市场价。
　　姜春艳
　　否认帮助获取指标
　　重庆市委、市政府信访办公室原来访二处处长姜春艳是唯一一位女“保护伞”。检方指控她帮助黎强多次通过信访手段，使非法营运车辆转为合法。
　　但姜春艳说，她确实与同事一起参与接访过黎强涉案的几起上访，但这是领导安排她去的，是她的职责所在。接访后，黎强也确实找过她，想叫她“帮忙协调一下”，但她拒绝了，因为已经将这些情况转给交通主管部门处理了。
　　在一次会议结束后，姜春艳说她也向主管部门反映过出租车的一些不稳定因素，但这是出于工作责任心。“我觉得我最大的优点就是工作责任心强。”
　　姜春艳说，当时黎强找她时，作为黎强的朋友，她还曾劝黎强不要牵扯进矛盾很大的“鱼沙线”中去。
　　姜春艳坚决否认帮助黎强去获取营运指标的指控，“当时我还只是一个普通工作人员，我也没有这个资格”。
　　黎强累计送了1万多元钱财给姜春艳，对此，姜春艳说她承认自己受贿的事实，但她否认黎强送红包与线路指标有关。“当时我认为这是朋友间的往来，收了也没啥问题，但现在看来，我觉得作为一个党员，这也违反了纪律。”
　　伍树芹的口头禅
　　伍树芹说话声音比较小，她对指控的3项罪名都予以否认。起诉书指控称伍树芹是渝强公司的股东，是强劲公司的法人代表，她在两家公司负责财务工作。但伍树芹将此推得干干净净。
　　“我没有参加黑社会组织，因为我不知道这是黑社会组织。我也没有非法经营，因为我不知道。隐匿会计凭证的是，也是黎萍让我打包的，我不知道税务局要来检查。”从法庭询问一开始，“不知道”、“不晓得”似乎就变成了伍树芹的口头禅，她对几乎所有关键问题都以此作答。
　　伍树芹说她虽是强劲公司法人，但只是名义上的，公司签字都是黎强、何永红负责。“我只是公司的出纳，负责收公司的各种费用，经营管理我不参加，经营都是黎强、何永红说了算。”
    对于隐匿会计凭证的指控，伍树芹也极力撇清干系。“当时是黎萍让我把手头的资料打包的，至于为什么要打包，我就不清楚了。”
    “为什么你是股东，你还要听黎萍的呢？”公诉人问道。伍树芹说，因为老总在会上宣布过由黎萍负责公司所有财务。
    伍树芹的一席话将责任往黎强身上推，黎强则大包大揽，将妻子洗刷得清清白白。他说伍树芹从不参与公司的决策，公司的事情她都不知道。
', NULL, N'重庆涉黑富豪黎强夫妇庭审答辩言辞相互矛盾')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (49, 1, N'发改委：4万亿投资计划不会挤占民间投资空间', N'news                                              ', CAST(0x00009CB000B1C240 AS DateTime), NULL, N'本报北京10月27日电（记者朱剑红）国家发改委有关负责人今天在介绍4万亿元投资计划执行情况时表示，4万亿投资计划对稳定经济发挥了重要作用。 政府投资的大幅度增加实际上引导和带动了民间投资增长，前9个月城镇非国有投资增长29.5%，呈稳步回升态势，比年初回升9.2个百分点。此外，反映民 间投资活跃度的房地产投资也持续回升，前9个月房地产投资增长17.7%，比年初大幅回升。
　　这位负责人从四个方面介绍了这一投资计划的执行情况：一是在中央扩大投资政策带动下，全社会投资增长势头强劲，前9个月全社会投资增长 33.4%，增幅比去年同期提高6.4个百分点。二是为进一步加强“三农”和改善民生夯实了基础，建成了一大批关系人民群众切身利益的惠民工程。在今年四 批中央投资中，用于民生工程的投资占比超过50%。截至8月底，已建成1.1万个基层医疗卫生服务项目，改造农村初中校舍面积近400万平方米；建成廉租 住房27万套、开工建设126万套；解决2278万农村人口饮水安全问题，建成农村沼气项目247万户、农村公路20万公里、农村电网各类线路10.3万 公里。三是积极推进了经济结构战略性调整和发展方式转变。中央投资发挥“四两拨千斤”的作用，如安排200亿元中央投资用于支持重点产业调整振兴和促进中 小企业发展，企业技术改造步伐明显加快，重大装备本地化工作积极推进。同时，开工建设了一批高技术产业化项目，支持了十大重点节能工程、城市污水垃圾设施 及配套管网、重点流域水污染防治等建设。截至8月底，已建成污水处理能力518万吨/日，垃圾处理能力1.6万吨/日，形成节能能力标准煤669万吨、节 水能力1.31亿吨。四是重大基础设施建设稳步推进，汶川地震灾后恢复重建有力有序开展。截至8月底，已完成投资5050多亿元，占规划总投资的 50.5%，实现了时间过半、投资完成过半。
　　针对社会上“4万亿元投资计划对民间投资产生挤出效应”的说法，这位负责人表示：经过认真分析研究，我们认为4万亿元投资计划不会对民间投资产 生“挤出效应”：一是实施好4万亿元投资计划不会挤占民间投资的空间。4万亿元投资计划的重点投向领域都是广大人民群众生产生活急需的，是社会效益高于经 济效益、市场机制难以充分发挥作用的领域，也是中央财政发挥结构调整主导作用的领域。对这些方面加大中央投资力度，既有利于稳定当前增长，也有利于优化投 资结构，增强发展后劲，是“与民兴利”而不是“与民争利”。二是实施好4万亿元投资计划不会挤占民营企业的资金来源。适度宽松的货币政策为各方面投资主体 的资金来源提供了有力保障。前9个月新增贷款达8.67万亿元，同比多增5.19万亿元。城镇固定资产投资到位资金增长39.4%，自年初以来持续高于投 资增速。由于货币供应充足，利率水平基本稳定，民营企业的借贷成本并没有上升。今年以来银行重点加大对中小企业的支持力度。上半年中小企业贷款占全部企业 贷款的比重为54.3%，比年初增长24.1%，比全部企业贷款平均增幅高1.5个百分点。
　　在鼓励和促进民间投资、推动全社会投资平稳增长方面，这位负责人介绍了下一步要采取的措施：一是不断充实和完善4万亿元投资计划，继续加大对中 小企业的扶持力度；二是抓紧出台鼓励和促进民间投资的措施意见；三是进一步管好用好中央投资，充分发挥中央投资引导带动作用，支持引导民间资本投向政府鼓 励和符合国家产业政策的领域，广泛参与各种民生工程、基础设施和生态环境建设。
', NULL, N'发改委：4万亿投资计划不会挤占民间投资空间')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (50, 2, N'日本首相鸠山首次全面阐述新政府外交政策', N'out                                               ', CAST(0x00009CB000B1EC70 AS DateTime), NULL, N'据新华社电 日本10月26日召集临时国会会议，首相鸠山由纪夫在当天下午举行的众议院全体会议上发表首次施政演说，强调要对日本政治进行大变革。
　　鸠山说，国民要求改变政治现状的呼声带来了众议院大选中的政权更迭。他提出， 视频：日本首相鸠山在众议院发表首次施政演说 要对日本战后的政治和行政进行“大扫除”，实现政治从依靠“官僚”到由政治家和国民主导的转变，在组织机构、事业项目、预算编制等方面进行改革。他还把政府现在所做的工作称为“不流血的平成（现在天皇的年号）维新”。
　　在经济方面，鸠山提出“以人为本的经济”，在促进自由竞争的同时，完善就业和人才培养等方面的保障措施，确保食品安全和治安稳定，重点致力于实现充裕的国民生活。
　　在社会保障方面，鸠山表示，要在今后两年内集中力量解决养老金记录丢失问题，同时建立公正透明的新养老金制度等，他还强调要构建新型公共关系。
　　延伸阅读
　　全面阐述对外政策
　　据新华社电 日本首相鸠山由纪夫10月26日在国会众议院全体会议上发表施政理念演说，全面阐述日本新政府的对外政策。
　　关于日美关系，鸠山说，日本将在地区和全球问题上与美国加强合作，深化“多层次的”日美同盟关系，并在这种信赖关系之中坦率地就两国间悬而未决的问题进行对话。
　　关于日俄关系，鸠山表示要将政治和经济作为两个车轮同时推进，致力于最终解决双方之间最大的悬案北方四岛问题，并与俄罗斯缔结和平条约。鸠山说，日本将把俄罗斯定位为其在亚太地区的伙伴，强化对俄关系。
　　在东亚合作问题上，鸠山提出要加强亚洲国家间的文化交流，增进相互理解。日本将大幅增加接收和派遣留学生的人数，在日本、中国和韩国之间扩大大学的学分互换制度，通过这些方式培育今后支撑东亚和亚太合作的人才。
', NULL, N'日本首相鸠山首次全面阐述新政府外交政策')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (51, 5, N'施瓦辛格启动影视业回迁计划 推进加州经济复苏', N'pastime                                           ', CAST(0x00009CB000B27910 AS DateTime), N'upload\2009102810494881.JPG', N'“终结者”对着影视公司们说：“你们回来吧！”
新浪娱乐讯 北京时间10月28日消息，加州政府号召好莱坞的各个影视公司在加州拍摄影片以拉动当地经济。目前已经超过50个影视工程响应了政府的号召。这50个工程的总制作费用在五亿美元左右，相信会大大的刺激加州的经济。
　　加州州长阿诺德-施瓦辛格(Arnold Schwarzenegger)在一份声明中表示：“我们计划在外面拍摄的影片目前很多都在打包装备，准备迁回加州拍摄。这对于我们的影视制作工人来说是个很好的消息，同时也会产生成千上万的其他商机，将会稳固加州的经济。”
　　施州长还特别在声明中提到索尼为FX电视台制作的新剧《执法者》(Lawman)。这部剧的背景被定位在肯塔基州，首集的拍摄是在宾夕法尼亚州，但目前将迁回加州继续拍摄。同时还会有各大电影公司的许多大制作都会迁回加州--这个好莱坞的大本营拍摄。
　　相关组织通过调查发现，参与回迁计划的影视工程中有一半是小成本的独立电影，有22%是影视公司投资制作，14%是电视电影，8%是不在影院上 映，直接通过DVD发售的电影，另外还有6%是电视剧。有14部影片已经开始拍摄，年底的时候这个数字会上升到36，其余的将在明年初开机。
　　回迁计划不止增加了加州的就业机会，据估计这个计划还将为加州增加120亿美元的税收。
', NULL, N'施瓦辛格启动影视业回迁计划 推进加州经济复苏')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (52, 5, N'《沧海》导演回应观众质疑 自信能超越《亮剑》', N'pastime                                           ', CAST(0x00009CB000B29FBC AS DateTime), NULL, N'新浪娱乐讯 10月27日下午，近期正在央视热播的大型长篇电视连续剧《沧海》恳谈会在北京举行，新浪娱乐在会议开始之前与导演赵浚凯进行了独家对话。随着这部戏的热播，外界质疑的声音也一直不断，有观众指出该剧在情节、道具和军事知识上存在很多漏洞，对此赵浚凯首度开口回应质疑，他更自信《沧海》在很大程度上能够超越《亮剑》。
　　自信《沧海》社会影响超《亮剑》
　　《沧海》时间跨度为60年，整部电视剧是按照海军真实历史来写的，剧情中包括了海军历史上几次较大的战役和两次巨大压力，可以称得上是海军题材的史诗。这部戏开播后一直被观众拿来与《亮剑》比较，有人认为李幼斌扮 演的老兵王山魁身上有很浓重的李云龙的影子，对此导演赵浚凯并不认同：“王山魁和李云龙其实是两个性格截然不同的人，在第一集里面可能他身上有一些与李云 龙相似的地方，但是往后看，到15、16集左右的时候，李幼斌出来后的感觉就完全不一样了，他的戏不多，但是在这部戏里面起到了警示作用和意义却很重要。 王山魁的存在可以让观众看到，新中国的成立不只有那些在世上留名的著名人物的功劳，像王山魁这样抛头颅洒热血的无名老兵的功劳。他的后辈因为他当初的一些 行为而受到影响，以及李幼斌后来那种略带神经质的表演，相信这样的情节能叩开很多人的心扉，让人们对那个年代的历史有更多的回忆和反思。”
　　同样作为军事题材的连续剧，《沧海》被称作是《亮剑》的姐妹片，赵浚凯承认两部戏在某些部分有相似之处，但是他自信《沧海》在一定意义上已经超 越《亮剑》：“《亮剑》写的是人物戏，李云龙这种草根英雄的概念的后续社会影响力确实很大，而我们这部戏则更是想弘扬一种‘沧海’精神。一个好朋友跟我说 了一句话，‘沧海横流，方显英雄本色！’我认为这句话很能代表我们这部戏想要表达的内容。和以往军事题材片相比，《沧海》可以说在军事题材领域又开拓了一 个新的局面，我们这部戏第一次正面谈到了86、台海战争等事件，更是第一次直面海军发展过程中遭遇的国防建设和经济建设的矛盾，这是以往任何影视作品都不 敢提的，不局限于故事的好看与否，这些本身就显示了我们当今的政府有空前的自信力，所以说我认为这部戏在社会影响力上是会超越《亮剑》的。”赵浚凯承认， 这部《沧海》已经成为他职业生涯至今最满意的一部代表作。
', NULL, N'《沧海》导演回应观众质疑 自信能超越《亮剑》')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (53, 5, N'《海角七号》导演新片开机 吴宇森等出席', N'pastime                                           ', CAST(0x00009CB000B2DB80 AS DateTime), NULL, N'新浪娱乐讯 北京时间10月28日消息，昨天《海角七号》导演魏德圣新作《赛德克巴莱》在台湾南投县举行启动仪式，监制吴宇森、魏导率徐若瑄、马志翔、马如龙及罗美玲等演员，赴台湾南投县仁爱乡雾社事件纪念碑举行祭仪。新浪娱乐现场直击了仪式全程。
　　魏导仍对拍摄资金缺口焦虑，徐若瑄不仅没问酬劳多少就点头接演，还说：“若是导演真的有需要，我愿意卖房子挺他！”强调絶非客套话。魏德圣选在 适逢台湾原住民反日活动“雾社事件”79周年的10月27日举办电影启动仪式别具意义，在赛德克族耆老祭司带领下，依赛德克族传统举行祭仪，被魏导视为开 拍前最重要大事。魏导说：“现在一刀砍下去，就将是长达半年的拍摄，若遇到不好的事，请大家多协助，也感谢吴宇森导演一路以来的不离不弃。”吴宇森则笑 说：“想不到小魏也拍英雄片，但他拍的是真英雄(真实历史人物)，我拍的是假英雄(剧本创造角色)。感谢《赛德克巴莱》及小魏让我了解到当时赛德克族人的 勇气和友谊。”
　　魏导证实片中抗日主角“莫那鲁道”饰演人选已决定，挑中约30岁出头、身高180公分的原住民部落青年，虽然是素人演员，但魏导强调：“从他的 感觉、眼神及生活习惯中，我第一眼看就觉得应该是他！”不过演员并未出席祭仪现场，魏导说：“他目前还在接受各种训练，现阶段也不擅长面对媒体，他来只会 更紧张。”片中二十几个主要角色，九成以上都起用新人，分别来自泰雅族等原住民，目前皆接受演技、体力等训练课程，莫那鲁道后裔原也在演员名单中，但在定 装及训练后对于先人及历史事件的压力及情绪仍无法解决，只好辞演。
', NULL, N'《海角七号》导演新片开机 吴宇森等出席')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (55, 5, N'《风云2》入魔造型曝光 郑伊健戴高级眼镜', N'pastime                                           ', CAST(0x00009CB000B314EC AS DateTime), NULL, N'信报讯 (记者唐雪薇)新武侠巨制《风云2》日前曝光了郑伊健扮演的聂风“入魔”的惊悚造型。据悉，《风云2》为打造这一造型投入巨资，郑伊健也因此吃尽“苦头”。
　　在郑伊健的入魔造型中，最醒目、最令人发怵的是他恶煞般的眼神——眼珠暴突、瞳孔紧缩，有鬼魅般的惊悚感觉。片方介绍说，郑伊健拍摄入魔戏份时佩戴的隐形眼镜可以算是《风云2》中体积最小、单价最贵的道具，是从澳大利亚定制的，单副隐形眼镜的价值就高达2万多美元。
　　戴着如此昂贵的隐形眼镜拍戏并不舒服，因为材料不透气，郑伊健一天拍摄下来常常眼睛充血。其中有一场戏，爆破产生的砂石还飞入郑伊健的眼睛，而镜头正在拍摄他的脸部特写，郑伊健一直忍住疼痛。
', NULL, N'《风云2》入魔造型曝光 郑伊健戴高级眼镜')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (56, 4, N'莫雷：低姿态总比被高估好 进攻端利器新添三分雨', N'sport                                             ', CAST(0x00009CB000B33238 AS DateTime), NULL, N'新浪体育讯　北京时间10月28日，火箭队常规赛的比赛即将在今日开打，而就在此时，随球队一起前往波特兰的火箭总经理达瑞尔-莫雷接受了《火箭官 网》记者贾森-弗里德曼的专访，在采访中，莫雷坦言，大家不看好火箭或许并不是一件坏事，而球队在季前赛的表现也让他对即将到来的新赛季充满了期望。以下 是采访实录——
　　弗里德曼：我想最开始我们应该先讨论一下球队在季前赛的进攻表现。火箭队季前赛在进攻端的表现可以排进联盟前10，这有些奇怪，是因为一些新面 孔的到来么？在没有姚明的今天，球队的风格是否会因此改变？我知道这只是季前赛，但从长远考虑，这是否是您所期望的变化，球队是否会把这种变化一直带到常 规赛中？
　　莫雷：我认为季前赛更多的是应该找到球队中所存在的问题。所以很显然，防守不会是我们季前赛主要演练的目标。在进攻方面，这样的表现是令人鼓舞 的，我们在短期内有了相当大的改变，但能否继续保持这种势头仍然有待确定。但事实上，我们能够在某些方面转型，正是球队朝着成功方向迈进的第一步。
　　我认为这是我希望看到的结果，但是，他们的确有点让我吃惊。其实，我们为自己的进攻制定了相当高的目标。
　　弗里德曼：在球队缺少明星球员的情况下还能有这样的表现，您认为这是战术体系的成功，还是队中的球员看上去要比实际情况更好？
　　莫雷：我认为球员肯定比人们所了解的更好，而且时间会证明一切，现在空谈没有任何的价值。如果我们赢得比赛，那人们将会意识到球员比他们想象的 更好，但如果恰巧相反，那他们的猜测就是正确的，或者至少批评我们的人是正确的。今年可能会是我们最关键的一年，让我们拭目以待。
', NULL, N'莫雷：低姿态总比被高估好 进攻端利器新添三分雨')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (57, 1, N'河南2个乡镇政绩报告内容完全一致引关注', N'news                                              ', CAST(0x00009CB000B38DA0 AS DateTime), N'upload\2009102810534470.JPG', N'本报郑州10月27日电（记者曲昌荣）10月24日，一网友举报，河南省商丘市睢县和南阳市桐柏县的两个乡镇，在各自的政府网站上，挂出内容几乎完全一致的政绩报道。两个乡镇，不仅土地面积和人口数量一致，就连种植的树苗也完全一样。这个“双胞胎政绩”顿时引发热议。
　　10月24日，网友“民风”发帖说：最近，他上网看到，两家政府网站上的一条工作信息，除了乡镇的名字不同，其他东西都一模一样。该帖的下面， 附有两家政府网站的原帖。一个是桐柏网，一个是睢县政府网。桐柏网上稿子的标题是《程湾乡林业生态建设突出三个特色》，信息作者是“王书森”，来源是“本 站原创”。睢县政府网上稿子的标题是《睢县平岗镇林业生态建设突出三个特色》。作者是“滑业勋”，来源是：政府信息中心。仔细对比发现，两个网站刊登的稿 件，除“程湾乡”和“平岗镇”几个字不同外，其他内容几乎完全一样。
　　今天，睢县平岗镇有关负责同志在接受本报记者采访时介绍，《睢县平岗镇林业生态建设突出三个特色》一文，是睢县平岗镇党政办在林业生态建设阶段 性工作中上报县政府办公室的一篇工作信息。后经县政府办公室工作人员2月27日编发于睢县人民政府信息网上。据了解，作者滑业勋是该镇党委书记，曾经从事 过十多年的宣传报道工作。由于该镇林业生态建设突出，睢县在3月份还专门在此召开现场会，会上，镇领导作了典型发言，“三个特色”是其具体举措。
　　桐柏县委宣传部今天也向本报记者介绍了调查情况。经调查，10月15日，程湾乡网站管理员在网上看到一篇题为《睢县平岗镇林业生态建设突出三个 特色》的文章后，感到其做法和经验有一定借鉴意义，便结合程湾情况对原稿件进行修改。在修改过程中，由于网站管理员操作不当，技术失误，未对修改后稿件存 盘，最后上传稿件时又没有按规定上报乡主管领导审核把关，致使出现雷同稿件。
　　桐柏县宣传部有关负责人说，事情发生后，县委宣传部高度重视，迅速责成程湾乡党委、政府调查情况，查明原因，对相关工作人员进行严厉批评教育， 严肃处理。同时，责成程湾乡向睢县平岗镇解释并道歉。今天下午，召开全县互联网宣传管理工作会议，通报了程湾乡网站违规发布信息造成不良社会影响的事件， 要求全县各乡镇及县直部门网站吸取教训，杜绝类似事件发生。
', NULL, N'河南2个乡镇政绩报告内容完全一致引关注')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (58, 2, N'黎巴嫩以色列再次交火互射炮弹', N'out                                               ', CAST(0x00009CB000B3B1F4 AS DateTime), NULL, N'新华网贝鲁特10月27日电（记者任珂 潘立文）一枚从黎巴嫩南部发射的喀秋莎火箭弹27日晚弹袭击了以色列北部，随后以色列用炮火还击。这是黎以两国在不到两个月时间内第二次交火。
　　联合国驻黎巴嫩临时部队（联黎部队）在一份声明中说，这枚火箭弹从黎巴嫩南部的杰迈勒谷地发射，在以色列北部一片空地上爆炸，没有造成任何伤亡。以色列国防军在45分钟后向杰迈勒谷地发射了9枚炮弹。
　　联黎部队和黎巴嫩军队随后向发射火箭弹的地区加强了兵力部署。联黎部队呼吁双方保持最大克制，停止敌对行动，以避免事态升级。
　　事件发生后，黎巴嫩看守总理西尼乌拉发表谈话，批评利用黎巴嫩领土发射火箭弹，同时谴责以色列用炮火还击的做法。
　　本月17日和18日，以色列曾遥控引爆了埋藏在杰迈勒谷地的两个用于监视黎真主党通信系统的窃听装置。
　　9月11日，从黎南部地区发射的至少两枚喀秋莎火箭弹袭击了以色列北部地区，随后以军向发射火箭弹的地区发射了14枚炮弹。
', NULL, N'黎巴嫩以色列再次交火互射炮弹')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (59, 2, N'伊朗将于30日前就核燃料供应方案作出答复', N'out                                               ', CAST(0x00009CB000B3DFA8 AS DateTime), NULL, N'新华网德黑兰10月27日电（记者梁有昶 车玲）据伊朗新闻电视台27日报道，伊朗将于30日前就国际原子能机构总干事巴拉迪提出的伊朗核燃料供应问题协议草案作出答复。
　　报道援引一名接近伊朗核谈判代表团的伊朗外交人士的话说，伊朗将本着维护国家利益的原则来答复上述协议草案。这位外交人士强调，把伊朗库存的浓缩铀一次性运往国外将违背伊朗的国家利益。
　　当天早些时候，伊朗官方的阿拉伯语旗帜电视台援引消息人士的话说，伊朗会接受巴拉迪方案的“框架安排”，但同时希望对该方案作出“重大改动”。
　　美国、俄罗斯、法国和伊朗的代表21日在国际原子能机构所在地维也纳结束了为期两天半的核燃料问题磋商。四国虽未能达成协议，但同意就巴拉迪提 出的一个方案进行审查。根据该方案，伊朗不自行生产研究用核反应堆所需的纯度更高的浓缩铀，而是转由其他国家生产。目前美国、俄罗斯和法国已表示支持这一 方案。
　　据在维也纳的西方外交官透露，巴拉迪提出的协议草案要求伊朗在年底前一次性把1100公斤低纯度浓缩铀运往俄罗斯，由俄罗斯将其提炼至20％左 右的纯度，然后再由法国将其生产成德黑兰研究用核反应堆所需的核燃料棒。据估计，伊朗目前拥有约1500公斤纯度低于5％的浓缩铀。
', NULL, N'伊朗将于30日前就核燃料供应方案作出答复')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (60, 2, N'与基地有关组织宣称对巴格达连环爆炸负责', N'out                                               ', CAST(0x00009CB000B3F718 AS DateTime), NULL, N'中国日报网环球在线消息：据英国媒体10月27日报道，一个与基地组织有关的逊尼派穆斯林组织26日声称对巴格达连环爆炸事件负责。这一声明为伊拉克明年1月的大选蒙上了厚重的阴影，人们再次开始担心大选前伊拉克的安全形势。
　　这个名为“伊拉克伊斯兰国”的组织在网站上宣布，自杀式袭击的主要目标是什叶派控制的伊拉克要害部门，其中包括司法部以及巴格达议会。他们在声明中写道：“只有暴力才是敌人所能听懂的语言。”
　　目前，尚无法得知这一声明是否属实。
　　25日发生在巴格达的连环爆炸共造成155人死亡，500多人受伤，是伊拉克两年多来发生的最严重的一次恐怖袭击。
', NULL, N'与基地有关组织宣称对巴格达连环爆炸负责')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (61, 2, N'8名美军士兵在阿富汗遭路边炸弹袭击身亡', N'out                                               ', CAST(0x00009CB000B41338 AS DateTime), NULL, N'　新华网喀布尔10月27日电（记者林晶 颜亮）北约领导的驻阿富汗国际安全援助部队27日发布公报证实，阿南部当日发生“复杂的连环式路边炸弹袭击”，造成8名美军士兵和1名阿富汗平民死亡，另有多名美军士兵受伤。
　　公报说，受伤的美军士兵已被送入当地医疗机构接受急救。但公报未提及爆炸发生的具体地点及伤者人数。
　　两天来，已有近20名美军士兵在阿富汗各类袭击事件中死亡。26日，3架美军直升机在阿南部和西部地区坠毁，造成11名美军士兵和3名美国公民死亡。塔利班声称对上述坠机事件负责。
　　自2009年年初以来，已有包括274名美军士兵在内的至少444名外国驻阿富汗士兵在阿各类战斗和冲突事件中死亡。今年将成为自2001年塔利班政权倒台以来，阿平民和外国驻阿军队伤亡最惨重的一年。
', NULL, N'8名美军士兵在阿富汗遭路边炸弹袭击身亡')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (62, 5, N'皮特车祸之后仍然开朗 轻松改驾四轮车(图)', N'pastime                                           ', CAST(0x00009CB000B45F64 AS DateTime), N'upload\2009102810564344.JPG', N'皮特和他的新车
新浪娱乐讯 北京时间10月28日消息，据国外媒体报道，在前两天骑摩托车经历了微型车祸之后，布拉德-皮特(Brad Pitt)可能对两个轮子的摩托车产生了短时间的恐惧心理。这位大明星今日被拍到放弃了摩托，改为驾驶四个轮子的汽车。看看小布和他的新车，希望他不要再陷入交通事故了。(Wormy/文)
', NULL, N'皮特车祸之后仍然开朗 轻松改驾四轮车(图)')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (63, 4, N'美媒体称小布乃火箭新核心 一大缺陷令阿帅很担心', N'sport                                             ', CAST(0x00009CB000B48034 AS DateTime), NULL, N'新浪体育讯　北京时间10月28日消息，火箭队新赛季开拔在即，当姚明肯定不能出场，当麦蒂高挂免战牌，当阿泰斯特已经改披湖人球衣之时，这支球队的核心在哪？
　　《雅虎体育》今日特别刊文，认为火箭队新赛季的命运就掌握在布鲁克斯的手中，以下是文章摘译：
　　在上赛季的季后赛，布鲁克斯开始茁壮成长，他带领火箭队和湖人队拼到了最后的第七场决战，在那些比赛中，布鲁克斯的速度，精准的投篮以及果断的选择都给人留下深刻的印象。
　　现在看起来，这种风格将沿袭到整个常规赛。这位身高仅有6英尺，进入联盟才两年的新秀将成为新赛季火箭队的核心。
　　火箭队的新赛季将在波特兰揭幕，这里对于年轻的布鲁克斯而言并不陌生，他的大学时代正是在这里度过。
　　在经历了两年NBA的磨练，在经历了35场先发之后，火箭队上下已经认定，这个小伙子能够承担起这支球队先发控卫的责任。
　　“一切都来得太快了，”即便是布鲁克斯自己，在谈到目前的情况时仍然发出这样的感慨，“这才是我在联盟的第三个赛季，我从来没有想过能够有这样的境遇。面对这样的情况，你压根没有时间去想该怎么做，惟一要做的就是继续努力，并且时刻为可能发生的情况做好准备。”
　　火箭队在今年二月送走了老将阿尔斯通，这为布鲁克斯的上位清出了空间。在常规赛最后的27场比赛中，先发的布鲁克斯场均贡献13分和3.4次助攻，帮助火箭队最终取得了西部第五的常规赛排名，并在季后赛首轮淘汰了开拓者队。
　　在和开拓者队的系列赛中，布鲁克斯场均数据提高到了15.3分和4.3个篮板，这亦是火箭队自1997年以来首度能够晋级季后赛第二轮。
　　在和湖人队的系列赛第三场，姚明骨折离场，外界普遍认为，火箭队将很快被湖人队淘汰。但是在接下来的第四场，布鲁克斯一人拿下惊人的34分，他 犀利的突破彻底撕破了湖人队的防守，外线三分球亦有9投4中的精准表现。这不是布鲁克斯仅有的出彩表现，在第6场比赛，布鲁克斯依旧神奇，他贡献26分， 帮助火箭队再度大胜后来的总冠军湖人队。
', NULL, N'美媒体称小布乃火箭新核心 一大缺陷令阿帅很担心')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (64, 4, N'无姚新赛季落寞油然而生 周遭一种改变正悄悄开始', N'sport                                             ', CAST(0x00009CB000B4ACBC AS DateTime), NULL, N'新浪体育讯　北京时间10月27日消息，时间如梭，近4个月的休赛期已经过去，2009-10赛季的NBA就要在明天上午拉开战幕。
　　只是，当休斯顿的那缕熟悉的红色明儿重新出现在我们面前时，我们却找不到一个熟悉的身影——姚明。
　　是的，那个熟悉的11号，那个在火箭队球员中鹤立鸡群的大个子在即将开始的这个赛季将不会出现在球场上。尽管在今年夏天，在几个月之前，我们就知道了这个消息，但是当这样的日子真正到来，还是会有很大的不适应。
　　就在几个月前，同样是在玫瑰花园球馆，姚明百发百中，率领火箭队在季后赛首场遭遇战中轻松击败开拓者。那一场胜利酣畅淋漓，让无数火箭球星激动 不已。而那之后，当姚明在斯泰普斯球馆倒下，一瘸一拐的走进球馆通道之时，无数的火箭球迷更是为他揪心不已。在球员通道内，当队医凯西-琼斯力阻他不要回 到球场的时候，当姚明选择坚持比赛的时候，相信那一幕让所有人懂得了什么叫“坚强”。
　　从进入联盟开始，无论在中国还是在美国，有关姚明的话题总是最具争议的。在网络上，甚至出现了“姚蜜”和“姚黑”两个对立的团体。或许每一个喜 欢姚明或者是讨厌姚明的人都有自己的理由，但现在，喜欢姚明的球迷看不到他们心中偶像的表演，而讨厌姚明的球迷亦是去了他们批评的对象，球场之下，只留下 了一种“寂寞”。
　　有些时候，当你习惯了“拥有”之时，你会有些不那么珍惜。待到真正失去的时候，才会恍然明白，曾经的拥有是多么的宝贵。尽管我们还没有永远失去姚明，但一种淡淡的失落已经悄然爬上了每一个人的胸口。
　　有人会说，这个地球少了谁都还会自转，但没有了姚明，我们熟悉的NBA周遭也在发生改变。
', NULL, N'无姚新赛季落寞油然而生 周遭一种改变正悄悄开始')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (65, 4, N'时过境迁火箭优势变劣势 对抗双塔阿帅只一计可施', N'sport                                             ', CAST(0x00009CB000B4C684 AS DateTime), NULL, N'　新浪体育讯　北京时间10月27日消息，据《休斯顿纪事报》报道，火箭的新赛季将于明天上午正式拉开帷幕，跟随火箭多年的资深记者乔纳森-费根认为这一季的火箭与以往有着巨大的差别。
　　或许这与想象中的NBA有着些许的不同。将火箭再次送往波特兰，在上赛季季后赛开始的地方开始这个全新的赛季。让2009-10赛季的第一战就弥漫上季后赛第七战的硝烟，相信这是联盟愿意看见的事情。
　　可六个月后火箭已经物是人非了。姚明整个赛季休战，特雷西-麦克格雷迪仍未能归队。可正是这样的一场比赛，也提供给了火箭检验自己的一个机会。 “我们是带着枪手的心态去比赛的，”肖恩-巴蒂尔说：“让我们一看看自己能够做成什么样子。我们在季前赛取得了一些成绩，现在就要看这些在常规赛中是否还 有效。”
　　“我们还不完善，仍在进步之中，是个‘半成品’。那些打开电视机想要看到我们在波特兰有‘成品’表现的球迷可能要有些失望了。我们还有很多的事 情要做，但是我们都明白，我们是一个团队，要团结在一起努力的去打球。我们会充满能量的去比赛，更加的无私。如果这些都能做到，并且更加聪明的去打球，我 们还是很有机会去成就一番事业的。我们必须要紧密团结，这一点非常重要。”
　　作为上赛季季后赛的对手之一，开拓者给火箭提供了一个很好的检验和测量自己实力的机会。因为开拓者正好在火箭问题最大的方面拥有着优势。具体的我们可以来看一看：
　　首先，开拓者有着身高上的优势，从前场的格雷-奥登、阿尔德里奇、普尔兹比拉到后场的布兰顿-罗伊和安德烈-米勒。查克-海耶斯和奥登相比身高矮了6寸，体重轻了将近40磅。除非他更多的去与阿尔德里奇对位，否则将很难搞定奥登。
', NULL, N'时过境迁火箭优势变劣势 对抗双塔阿帅只一计可施')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (66, 4, N'火箭揭幕战是试金石摸底测验 五号位二选一有玄机', N'sport                                             ', CAST(0x00009CB000B4E3D0 AS DateTime), NULL, N'新浪体育讯　北京时间10月27日消息，休斯顿610电台对火箭即将开打的揭幕战进行了点评，他们认为火箭首战对开拓者是“试金石”，可以真正摸一下现在这支球队的底，而火箭在五号位究竟是用查克-海耶斯还是大卫-安德森，颇有玄机。
　　火箭和开拓者是老对手了，上赛季，开拓者常规赛54胜力压火箭的53胜，两个队在季后赛首轮遇上，结果开拓者年轻稚嫩，被火箭4比2击败，实现 多年来的突破。现在，两个队在揭幕战上遭遇，只是今非昔比。“火箭实力由于没有姚麦，削减很多，而开拓者保持着上升的势头，他们在休季又引进安德烈-米 勒，这是一笔非常好的交易。明天，两个队将在波特兰比赛，毫无疑问，将是开拓者占据优势，但是火箭打得如何，状态如何，都可以摸一下这支球队的底，看看他 们的水平到底如何。”610评述说。
　　火箭首发阵容几无悬念，只要路易斯-斯科拉的健康没问题，阿隆-布鲁克斯、特雷沃-阿里扎、肖恩-巴蒂尔、斯科拉和海耶斯将构成火箭的首发阵 容。但610认为，主教练里克&#8226;阿德尔曼或许会将安德森推到首发位置，“毫无疑问，海耶斯的防守更好，但是对方会让格雷格-奥登打首发，相比之下，海耶斯 的个子太矮了，会在五号位吃许多亏。而且，海耶斯得分能力很差，安德森的防守会差一些，但是进攻比海耶斯强了许多。”
　　季前赛，火箭暴露出一个问题，就是“群龙无首”，8场比赛打下来，球队还是没有一个明显的领军人物，布鲁克斯、斯科拉和巴蒂尔都可能是“那个人”，但没有注定是“那个人”的人选。谁会在常规赛脱颖而出，将是火箭的焦点之一。
', NULL, N'火箭揭幕战是试金石摸底测验 五号位二选一有玄机')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (67, 4, N'无姚时代如何关注内线比拼 新赛季中锋PK五岳崛起', N'sport                                             ', CAST(0x00009CB000B50824 AS DateTime), NULL, N'姚明不在，内线的比拼依然火爆
新浪体育讯　NBA新赛季就要开始，而这个新赛季，在不少中国球迷的眼中显然是不完整的，因为，我们很有可能将经历一个姚明加盟NBA来首次经历的无姚时代。
　　然而，姚明和中国球员并不是NBA的全部，在NBA的比赛中，还有众多的球星和比赛本身值得我们所有人去关注。也许，当我们抛开了一些心理上的 羁绊，反而能够发现，这种纯粹的NBA让人感觉更加魅力，更加的出色。那么，下面就让我们暂时抛开姚明和中国球员，看看在新赛季的NBA比赛中，究竟在中 锋位置上，都有哪些球员是最值得我们关注的呢？
　　五岳归来不看山，黄山归来不看岳
　　联盟如今已经进入了一个后中锋时代，从篮球诞生以来，就伴随而来的“得中锋者得天下”的传统理念正在受到严峻的挑战。尽管如此，如今的NBA中 仍然有着众多的出色中锋。用著名的五岳来作为NBA五大中锋的代称，相信没有人会反对，他们本来就是篮球比赛中身高最高，也最有资格会当凌绝顶的一群人。
　　在姚明受伤，奥尼尔老化的今天，霍华德理所当然的接过了NBA第一中锋的传承火炬。其实比起姚明，甚至是奥尼尔来，霍华德仍然有些青涩，小技术 比起奥尼尔来也好不到哪里去。但是，霍华德有着姚明没有的金刚一般的强壮身体，有着奥尼尔没有的年轻，光是这两点，已经足够让他成为新赛季NBA中锋的领 头羊。如果这些还不够，那么，去看看上赛季季后赛东部决赛的录像，霍华德蹂躏骑士那一幕一定会让你认同我的观点。
　　中锋还是大前锋，这似乎是邓肯身上一道让人左右为难的选择题。然而，在夏天众多媒体的评选中，都将邓肯放到了中锋的位置上。的确，从马刺来看， 自从大卫-罗宾逊退役以后，邓肯确实一直在出任中锋的位置。不管是奥搏托，甚至是邦纳，他身边的内线永远只能生活在邓肯的庇护之下。而邓肯带领球队夺得的 总冠军，早就已经标榜了他的能力。中距离有着一手漂亮的擦板投篮绝技，加上篮下的攻防全能，恐怕如今的邓肯，仗着比奥尼尔年轻的好处，已经完全可以骑到奥 尼尔的脖子上了。
　　如果时光倒退10年，那么，奥尼尔依然会是NBA中当之无愧的第一中锋。但是，时光能倒退么？不能。于是，奥尼尔只能眼睁睁的看着霍华德从自己的手里夺走了第一中锋的位置。也许，新赛季，奥尼尔能够帮助勒布朗-詹姆斯夺得一个总冠军的奖杯，从而给自己的职业生涯再添上浓墨重彩的一笔。然而，和以前每次夺冠不同，如果奥尼尔这次能够在骑士夺冠，那么，真正享受荣光的会是詹姆斯 ，而不会是已经老去的奥尼尔。
　　如果说邓肯和奥尼尔都算是已经步入自己职业生涯晚期的话，那么，接下去要介绍的两名中锋，却绝对还是处于小荷才露尖尖角的阶段。首先要说的就是 湖人的拜纳姆，其实拜纳姆在上赛季的数据，包括他在关键时刻的表现，以及面对其他联盟中锋时候的表现，都难称得上顶尖中锋。但是谁让这个小伙子运气好，在 湖人队有一个愿意给队友传球的科比-布莱恩特，有一个联盟最佳的主教练菲尔-杰克逊，还有多少中锋梦寐以求的专人训练师贾巴尔，如此种种，加在一起，要说 拜纳姆再不能出人头地，那么实在也是太对不起观众了。而且，拜纳姆非常年轻，他现在的主要弱点还在腿部的力量上，如果能够随着年龄的成长和身体的成熟，将 这部分的缺点弥补，那么，他将成为未来联盟中少有的可以挑战霍华德的球员。
　　另外一个中锋同样是个小字辈，上赛季对于格雷格-奥登来说，是他的第二个NBA赛季，但是确是他打的第一个NBA赛季。20岁的年龄，40岁的 面孔，我们其实很难将奥登和年少两个字结合起来，如果不是因为美国在出生年月这方面控制的比较严，可能会有很多人觉得奥登是修改了自己的出生年月。上赛季 对于奥登来说，是一个熟悉和适应的过程，场均8.9分和7个篮板球的数据还算不错，只是在场上不知道如何控制自己的犯规次数，依然是奥登遇到的一个巨大的 麻烦。然而，在新赛季的季前赛中，我们看到了一个更加成熟的奥登。当然，要学会在成功防守和犯规之间找到一个完美的平衡点，奥登要走的路还很长，但是从他 上赛季的适应情况来看，奥登绝对已经可以在新赛季跻身联盟一流中锋的行列。
', NULL, N'无姚时代如何关注内线比拼 新赛季中锋PK五岳崛起')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (68, 2, N'埃及交通部长因致18死火车相撞事故辞职', N'out                                               ', CAST(0x00009CB000B52C78 AS DateTime), NULL, N'国际在线报道 (记者方文军)：因火车相撞事故并造成重大人员伤亡，埃及交通部长曼苏尔27日引咎辞职。
　　据埃及中东通讯社报道，曼苏尔当天向总统穆巴拉克递交辞呈，宣布对24日发生在开罗南部的火车相撞事故负责。穆巴拉克已接受了曼苏尔的辞呈。
　　埃及两列火车24日傍晚在距离开罗南部约50公里处相撞，造成18人死亡，36人受伤。
', NULL, N'埃及交通部长因致18死火车相撞事故辞职')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (69, 2, N'美国一名外交官辞职抗议美对阿富汗政策', N'out                                               ', CAST(0x00009CB000B54898 AS DateTime), NULL, N'环球时报特约记者宋华报道：据美国华盛顿邮报27日报道，美国国务院一名外交官上月因不满美国政府的对阿富汗政策正式宣布辞职。他也成为阿富汗战争打响八年来首位以辞职表达抗议的美国高级官员。
　　据报道，这名上月刚辞职的外交官员叫马修&#8226;洪赫，今年36岁，此前在美国国务院驻喀布尔大使馆担任外交官。洪赫曾在美国海军陆战队担任上尉。他在文职和军旅方面的背景，使其曾被认为将在奥巴马政府打击阿富汗叛乱的新行动中扮演重要作用。
　　不过洪赫9月10日却出人意料地向美国国务院人事主任提交了辞职信。“我对美国继续留在阿富汗的战略目的已经不再理解并失去信心。”洪赫在信中 说，“我对美国现行的以及正在重新制定中的对阿战略持怀疑和保留态度，不过我的辞职并非基于怎样继续这场战争，而是这场战争为什么要继续下去以及如何结 束。”
　　华盛顿邮报的分析称，洪赫的辞职可能会对白宫产生巨大的负面影响。白宫官员曾试图说服洪赫留下来，以免其成为批评美国现政府对阿政策的领军人 物。据称美国国务院驻喀布尔大使馆提出让洪赫担任更高级别的外交官职务，但遭到洪赫拒绝。洪赫随后飞回华盛顿与美国阿富汗和巴基斯坦问题特使理查德&#8226;霍尔 布鲁克进行了单独会谈。
　　“我们收到他的辞职信后非常慎重，因为他确实是一位非常优秀的外交官。”霍尔布鲁克在接受采访时说。霍尔布鲁克称曾试图说服先后在五角大楼和战后伊拉克工作的洪赫留下来，以更好地帮助美国政府制定新的对阿政策。但洪赫在思考一周后还是决定辞职。
　　“留下来不是正确的选择。”洪赫告诉华盛顿邮报记者。目前奥巴马总统正就是否决定向阿富汗增派数万军人前往阿富汗进行权衡，洪赫表示自己将公开 宣称自己对此的观点以影响公共舆论。“我不是反战人士，但我希望爱荷华州的人们，阿肯色州的人们，亚利桑那州的人们……一起告诉他们的议员：听好了，这不 是正确的决定。”
', NULL, N'美国一名外交官辞职抗议美对阿富汗政策')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (70, 1, N'重庆警方否认被围殴致死吸毒者曾针刺民众', N'news                                              ', CAST(0x00009CB000B5638C AS DateTime), NULL, N'本报重庆讯（记者瞿凌云）26日上午8时许，重庆市中心城区渝中区朝天门批发市场一吸毒人员疑似针刺群众，后被群众群殴，经抢救无效死亡。
　　当晚，重庆警方发消息澄清说，该男子是瘾君子，因偷衣服被群众打死，并非针刺。
　　在案发地重庆大正商场门前，一位“棒棒”（在武汉叫“扁担”）告诉记者，“昨天确实打死了一个人，他用针扎人的，我们追了他两三百米。”人们追上了那位男子，你一脚我一脚就把他踢死了。
　　记者采访时，一长期在朝天门批发市场打工的“棒棒”，自称前天都看到那个针筒。
　　近日，有关“针刺事件”在网络和市井中被人议论纷纷。在当地重庆铜梁县政府公务信息中心网上的一则新闻说，据警方介绍，最近一段时间，受四川省 武胜、广安、岳池及邻近县市疑似“针刺”传言影响，在巴川城区群众中引起了一些不安和恐慌。从10月8日以来，先后有47起群众向公安机关报警称被“针刺 ”。
　　该文还引用铜梁县公安部门的话说，该地并未发生市民被针刺伤的案件，并提醒市民不要信谣传谣、以讹传讹。
　　对朝天门“针刺”传言，《大公报》26日报道说，对针刺案的恐慌以及民众对针头与艾滋病人有关的联想，让批发市场内的多位摊主及部分顾客参与了对此人的围堵和群殴。
', NULL, N'重庆警方否认被围殴致死吸毒者曾针刺民众')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (71, 1, N'人保部将首次就同工同酬做出规定', N'news                                              ', CAST(0x00009CB000B57AFC AS DateTime), NULL, N'记者昨天了解到，目前人力资源和社会保障部正在研究制定工资支付相关法规，“同工同酬”将首次作为立法内容。即无论正式工还是劳务派遣工，只要从事相同内容工作，应当获同级别工资待遇。
　　相关人士解释，届时，事实劳动关系形成后，企业的非正式合同工即劳务派遣工等，与正式工相同岗位、职级相同，从事相同内容的工作，付出等量劳动，并且取得相同劳动业绩的，都应获得同等的劳动报酬，即报酬在同一工资区间内浮动。任何用人单位都应执行。
　　据悉，新的规定将完善“工资”的内涵，在此前各项法规中工资都等于“货币”，今后可能会加入期权等内容。据新京报
', NULL, N'人保部将首次就同工同酬做出规定')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (73, 1, N'国台办介绍大陆高校加大对台招生力度情况', N'news                                              ', CAST(0x00009CB000D4E464 AS DateTime), NULL, N'在今天上午的例行新闻发布会上，国台办新闻发言人范丽青介绍了有关大陆高校加大对台招生力度的情况。 
    范丽青介绍说，大陆共有187所高校招收台湾学生，目前，在大陆高校就读的台湾学生共6755人，其中博士研究生1570人，硕士研究生1861人，本科 生3324人。招收台湾学生有三种形式，一是高校联招，二是单独命题考试，三是获准可以备案招收港澳台学生的高校，自主招收插班生。福建省有8所高校可单 独对台招生。教育部2006年已正式开通“大陆高校面向港澳台地区招生信息网”（www.gatzs.com.cn），我办政府网站和中国台湾网也有相关内容及链接，欢迎有兴趣的台湾学生查询。
', NULL, N'国台办介绍大陆高校加大对台招生力度情况')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (75, 2, N'俄数百所幼儿园和学校因流感停课', N'news                                              ', CAST(0x00009CB000D55E44 AS DateTime), NULL, N'新华网莫斯科１０月２７日电（记者聂云鹏）俄罗斯联邦消费者权益和公民福利保护监督局２７日发布公告说，因季节性流感和急性呼吸道感染病例迅速增加，俄境内已有数百所幼儿园、学校部分或全部停课，仅莫斯科市就有１０００多个班级停课。 
    截至１０月２６日，俄罗斯共有１４个城市和７个联邦主体（州、边疆区等行政区划）的季节性流感和急性呼吸道感染患病率超出同期水平，仅本月１９日至２５日就新增１０．５万名患者，其中有６．８万名儿童，患病率比前一周增加４０．７％。 
    迄今，俄境内共有１８４６万人接种了季节性流感疫苗，约占俄总人口的１３％。在莫斯科市有１２３万人接种了这类疫苗，其中大部分为医务人员、学校教师及中小学生。 
    截至目前，俄境内报告的甲型Ｈ１Ｎ１流感确诊病例已超过１３４０例，共有４人不治身亡。
、、
国内成品油再迎两个调价窗口 价格上调机率大
在国际油价创出一波上涨的小高潮之后，国内成品油价格上调的预期也日益升温。根据今年5月颁行的《石油价格管理办法(试行)》(下称《办法》)推测，油价下一轮调整将出现在本月底或下月初。而此间媒体推测，10月29日或11月5日将迎来两大调价窗口。 
', NULL, N'俄数百所幼儿园和学校因流感停课')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (76, 7, N'国内成品油价格上调几成定局', N'news                                              ', CAST(0x00009CB000D57DE8 AS DateTime), NULL, N'								    根据《办法》，当国际油价连续22个工作日的平均变化率超过4%时，就可相应调整国内成品油价格。今年以来，国内成品油价一共经历了7次调整，其中4次上调，3次下调。国家发改委最近的一次调价是在9月30日，当时国内汽柴油零售价均小幅下调190元/吨。 
    纵观10月份以来，国际油价不断上涨，短短三周内连破70美元/桶、80美元/桶 两大整数关口。 目前，国际油价与9月30日国内油价调整时的价位相比，差距已经高出4%的调价幅度。业内人士预测，国内成品油价格上调几成定局，具体时间不是本月底就是 下月初。由于《办法》中对22个工作日没有明确定义。如果工作日是参照国际原油交易日，那么下个调价窗口将在10月29日，如果是按照国内工作日计算，则 下个理论调价日应该在11月5日。 
    本轮调价或增加新变数 
    业界人士普遍预测，出于兼顾各方利益的考虑，此次国内油价上调幅度不会太大，预计此次涨幅应该在每吨400元左右，汽柴油零售价可能会上涨超过0.3元/升。 
    还有业内人士指出，本轮调价或将增加新变数。尽管《办法》规定在“国际油价连续22个工作日的平均变化率超过4%时，就可相应调整国内成品油价格”，但是《办法》同时规定在国际油价突破80美元/桶时，定价方式将有所调整，这也为本次油价调整增加了新的变数。 
    根据《办法》规定，当国际市场原油价格低于每桶80美元时，按正常加工利润率计算 成品油价格；高于每桶80美元时，开始扣减加工利润率，直至按加工零利润计算成品油价格；高于每桶130美元时，按照兼顾生产者、消费者利益，保持国民经 济平稳运行的原则，采取适当财税政策保证成品油生产和供应，汽、柴油价格原则上不提或少提。 
    因此，本次国内成品油价最终将如何调整，还要看国际油价接下来的的走势。

							', NULL, N'								　　国内成品油价格上调几成定局
							')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (77, 1, N'“持械抢劫，当场击毙” 浙江永康现超雷人标语', N'news                                              ', CAST(0x00009CB000D5C690 AS DateTime), N'upload\200910281258209.JPG', N'    记者今天在浙江省永康市采访时意外发现该市有关部门在公共场所张贴了一句标语：“持械抢劫 ,当场击毙”。一些路人以及相关法律专家在接受记者采访时都对这句标语表达了不同的看法，认为政府部门敢贴这样的标语，实在太雷人了。 

标语被固定在车站墙上 
    记者其实是在很偶然的机会发现这条标语的。今天，记者在浙江永康结束几天的采访工作后准备离开，在永康市汽车东站的售票厅里就无意当中发现了这条标语： “持械抢劫 ,当场击毙”。记者看了以后心里感到很震撼。 
    标语是用铁皮或是铝皮制作，用钉子固定在售票厅的墙上。标语上显示其宣传单位是“永康市打击‘两抢’犯罪专项行动宣传工作领导小组办公室”。 记者不知它是什么时候被贴上去的，但估计这标语不同于纸质标语或是布质横幅，它是要被贴很长一段时间的。 
    观者称标语很雷人 
    记者随即在售票厅里随机地采访了一些正在买票的乘客。 
    一些乘客开始还没注意到墙上有什么标语，在记者的提醒下，看了以后，他们都说被吓了一跳。 
    一位丽水的男性乘客告诉记者：永康有关部门贴的这条标语对歹徒或是相关犯罪嫌疑人 是很有警示和打压作用，但是他个人认为，警方的以暴制暴，看似大快人心，但对于维护社会稳定其实未必有效。打击“两抢”，不能一毙了之。他认为，打击“两 抢”，关键还是要在提高警察业务能力和执法水平、加强巡逻、提高见警率、加强治安混乱源头管理上下功夫，这样公众才会有切实的安全感。
', NULL, N'“持械抢劫，当场击毙” 浙江永康现超雷人标语')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (78, 2, N'伊朗称放弃美元作为外储地位 人民币或上位', N'out                                               ', CAST(0x00009CB000D5E058 AS DateTime), NULL, N'伊朗政府表示，为维护伊朗的国家利益，将彻底放弃美元作为外汇储备货币。
    据阿拉伯新闻网报道，伊朗贸易发展组织宣布说，伊朗外汇储备资产结构发生了实质性变化，结束美元作为资产 储备的计划正在落实。该组织表示，2007年10月到现在，国家石油出口收入有85%不是用美元结算的，用的是另外国际流通货币，伊朗政府决定将另外 15%的石油收入也用其他硬通货结算，甚至可以用阿联酋货币――迪拉姆。
    伊朗“迈赫尔通讯社”报道说，日前伊朗要求日本用日元支付从伊朗进口的石油，而不要用美元结算。另外，伊 朗政府还准备成立伊朗商品交易所，并定名为“伊朗石油交易所”，该交易所成立后将为伊朗在石油和天然气领域使用非美元如欧元结算提供了方便和可能。伊朗总 统内贾德9月中旬曾宣布，伊朗将使用欧元取代美元成为外汇储备货币。伊朗中央银行行长表示，由于调整了外汇储备结构，伊朗获得了许多好处和利益。 
    另据英国《独立报》报道，海湾国家、俄罗斯以及法国财政部长或中央银行行长曾 进行了多次秘密会晤和会见，主要讨论在石油贸易中用其他货币代替美元问题，其中包括用日元、欧元、中国的人民币、海湾合作委员会统一货币或黄金进行结算。 报道指出，美国方面已经获得了这方面的可靠信息，认为这是对美国的一次“国际阴谋”，决心要采取行动进行抵制。
', NULL, N'伊朗称放弃美元作为外储地位 人民币或上位')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (80, 1, N'商贸联委会在杭州开会 中美对贸易争端态度低调', N'news                                              ', CAST(0x00009CB0001087A4 AS DateTime), NULL, N'第20届中美商贸联合委员会会议今明两天将在中国杭州举行，中美贸易争端和人民币汇率是本届会议的热点课题，但中美双方至今低调预热会议成果，似乎预示会议未必能取得显著突破。
　　中美商贸联委会是两国之间最重要的双边经贸合作和贸易争端磋商机制之一，第一届部级联委会于1983年举行。联委会从2004年开始提升级别，由中国一名副总理担任中方主席，美方主席由商务部长和贸易代表共同担任。
　 　本届中美联委会是美国总统奥巴马政府今年就职后召开的首次会议，由中国国务院副总理王岐山与美国商务部长骆家辉（Gary Locke）和贸易代表柯克（Ron Kirk）共同主持。此外，美国农业部长维尔萨克（Tom Vilsack）也将与会，反映了中美商贸关系对美方的重要性。
　　奥巴马下个月中即将访华，加上两国近期发生一系列贸易摩擦，让这次会议 格外受到外界关注。美方将知识产权保护定为本届会议重点议题，中方则表示关注美国承认中国市场经济地位的时间。双方在会议前对于敏感的双边贸易争端态度低 调，但一般认为，中美将无法回避直接讨论双边近期发生的贸易龃龉。
　　过去两个月，中美双方屡次在贸易问题上交锋，威胁两国经贸关系的稳定性。上个月，美国宣布向中国轮胎征收惩罚性关税，引起中国强烈不满并予以反击，向原产于美国的部分进口汽车产品和肉鸡产品启动反倾销和反补贴立案审查程序。
　　另一方面，本月7日，美国商务部也启动对从中国进口的无缝钢管的反倾销和反补贴税调查，而中国则在数天后宣布，对原产于欧美和台湾地区的进口尼龙（nylon）征收反倾销税，美国企业承担的相关税率显著较高。
　　美国失业率目前居高不下，奥巴马政府持续面对国内工会的施压，利用贸易保护措施限制外国进口，保住工人的工作。此外，呼吁美国政府要求人民币升值的美国产业界呼声也再次响起。
　 　美国钢铁协会26日呼吁骆家辉和柯克，要他们在本周美中贸易谈判中表明希望中国让人民币升值的立场。该协会表示，中国政府的干预使人民币兑美元汇率被明 显低估，威胁到美国经济的脆弱复苏进程，并构成国际贸易不公平竞争。 很多美国制造商认为，中国政府压制人民币兑美元的汇率，从而使中国出口商在国际贸易中不正当获益。
', NULL, N'商贸联委会在杭州开会 中美对贸易争端态度低调')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (81, 2, N'气候变化导致海平面上升 ', N'                                                  ', CAST(0x00009CB00010A61C AS DateTime), NULL, N'（悉尼综合电）澳洲国会气候变化委员会呼吁政府制订全国性政策，应付海平面上升的威胁，包括将沿海居民迁往内陆，禁止在海边盖房子等。澳洲2100万人口当中，有八成居住在沿海地区，这一政策若是落实将影响重大。
1930亿元房产将受影响
　 　澳洲国会气候变化委员会昨天在一份历时18个月的调查报告中指出，气候变化造成的海平面上升和频繁暴雨，将威胁澳洲数千公里的沿岸地区，预计有总值 1500亿澳元（约1930亿新元）的房产将受到影响。当地有大约71万1000栋房子离岸不到三公里，地势也只比海平面高出六公尺。
　　该报告称，昆士兰州受到的威胁最大，有25万栋房屋可能被淹没；其次是人口最稠密的新南威尔士州，有20万座房屋受威胁。目前，新南威尔士州的沿岸水灾和海岸侵蚀问题已导致该州每年蒙受2亿澳元的损失。
　　联合国政府间气候变化专门委员会预测，全球海平面可能在2100年之前上升80公分。该报告接受这一说法，但指出如果温室气体排放量没有缓解的迹象，而两极冰帽继续融化，海平面上升的幅度就不仅于此。海平面每上升一公分，海岸线就会往后退一公尺或以上。
　　该报告也说，单单是海平面上升并不是最主要的威胁，但若伴以更频繁的暴雨和惊涛巨浪，就会对沿岸房屋构成最大威胁。
　　该报告指出，澳洲目前的海岸管理政策支离破碎，当局必须采取一项全国性政策，以协调沿岸建筑规范、迁移和疏散计划。
报告呼吁当局考虑
禁止继续在沿海地区居住
　　澳洲工党议员兼气候变化委员会主席乔治说：“调查结果得出的一个主要信息是，在气候变化的情况下，澳洲有必要由国家领导人来管理澳洲的沿岸地区，这是个重要的国家议题。”
', NULL, N'气候变化导致海平面上升 
澳洲沿海71万栋房子可能遭水淹
')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (82, 4, N'一纸传真暗含申花处理态度 国足征调杜威突生悬疑', N'sport                                             ', CAST(0x00009CB00010F824 AS DateTime), NULL, N'10月27日下午，申花俱乐部正式给足协发去传真，称杜威在多场比赛中缺乏进取心，申花已经对他做出了停赛处罚，如何进一步处理要看今后调查的情况。
　　因为杜威事件较为敏感，除了国足领队蔚少辉和申花领队郭光琪有过电话沟通之外，足协尚未和申花以及朱骏交流过。按照此前王霄和刘健的操作模式， 只要申花俱乐部没有对杜威做出违纪处罚，没有就杜威的问题书面通知足协不能征调，那么高洪波征召杜威就不存在障碍。不过，现在遇到了麻烦，申花正式向足协 发了传真，国家队征调杜威有点难办。
　　在传真中，申花没有就杜威的问题，向足协进行任何表态，也没说明国家队是否可以征调杜威。不过，既然俱乐部向足协发了传真，其实已经暗含了申花 俱乐部的态度，主要看国家队如何处理杜威的问题。相关人士表示：“现在离国家队集中还有一周，申花正在加紧对杜威的调查。一旦有什么结果，会及时和国家队 沟通。至于国家队能否征调杜威，现在还不是表态的时候，还没法下结论。”
　　从足协反馈的信息看，他们对申花的这份传真很重视。从高洪波的角度讲，杜威无疑是国家队主力，在办理签证等相关手续时，杜威赫然在28人名单之 列。一旦杜威缺阵，国足很难找出替代人选。因此，国家队希望申花对杜威的停赛，只是因为他比赛没打好，而不希望出现别的问题。“李玮锋目前还无法回归，其 他人的经验和条件难以赶超杜威。中后卫本来就存在问题，杜威如果再不行，国家队难上加难。11月14日客场打黎巴嫩难啊，杜威在是后防线和定位球中的重要 棋子，但愿没事……”
　　10月28日全运会赛事结束之后，南勇将从山东返回北京。关于国家队能否杜威的问题，届时也会有一个明确说法。
', NULL, N'一纸传真暗含申花处理态度 国足征调杜威突生悬疑')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (83, 4, N'临界冠军京城夺票总动员 球迷:夺冠!让所有人闭嘴', N'sport                                             ', CAST(0x00009CB000111B4C AS DateTime), NULL, N'10月27日，北京工体外千余人排起长队，棉被、板凳甚至帐篷均出现在队列中。这是买春运火车票，还是经适房摇号？都不是。抢购10月31日国安对杭州之战的球票，见证北京国安首捧冠军的历史性时刻，才是这一天北京城沸腾的原因。
　　15:20 球迷怒闯俱乐部
　　早在上轮北京战胜大连后，京杭之战的球票立马成了焦点，负责销售球票的公司网站甚至因访问人数太多而瘫痪。国安俱乐部并没有公布售票时间，本周一，已经有近千名球迷来到了工体各个售票点排队等候。
　　27日(周二)下午，大部分北京球迷都到工体周边各售票点等候购票。而部分心急的球迷，来到了位于工体第18看台下的国安俱乐部进行围堵，一些人一度愤怒地冲了进去。迟迟见不到票，球迷都快失去理智了。
　　下午3点左右，国安俱乐部门口已经聚集了约150人，大伙声称，是来针对票务问题讨个说法。一位自称曾在国安梯队效力的球迷，一边带头呼喊着“ 国安是冠军”等口号，一边与球迷闯入俱乐部内。殊不知，国安几位高层领导在这时已经前往市政府，针对票务问题进行会议。这时的俱乐部内，根本就没有可以做 主的人站出来沟通什么。
　　15点20分左右，几位警务人员来到现场，试图与球迷进行沟通，但没有任何效果。参与围堵的球迷大多都喊着：“我们要订票！”几位警员见劝解无 效，只好进入俱乐部进行沟通，但没有效果。十多分钟之后，越来越愤慨的球迷们全部冲进了国安俱乐部。不过没见到俱乐部高层后，球迷们还是保持了足够冷静， 大部分在大堂内照相或者闲聊。可能也知道无法得到什么答复，不少球迷在警务人员劝说下随后散去。
　　在得知国安俱乐部现在也没票后，球迷们表示谅解：“我们也是脑袋发热，太想为国安加油了，别人一忽悠跟着就来闯俱乐部了。现在才知道，连人家俱乐部里的人都没有票。我们还是踏踏实实去售票点等着吧！”
　　16:30 购票队伍首现帐篷
　　此时，工体北门售票处队伍已经排出了大约300米，个别球迷自荐成了组织者，协调排队的情况。以往，国安队的主场球票一直是周三开始卖，但这次 俱乐部一直没有明确说法，这让球迷们心里有点没底。他们担心，球票会全部流向“黄牛”。“你知道哪天开始售票吗？”见到记者，不少球迷纷纷打听。记者只能 告诉他们，最快也要在周三下午才会放票，提前守在这里也没用。这样的答复显然无法让球迷接受，“十多年了，这次机会最大，你现在劝我们先回去，万一到时候 买不到我们找谁？”一位球迷甚至有些动怒地对记者说。
　　下午4点左右，人数又多了一些。排在最前面的几位铁杆球迷中，有的是有赛季套票的，他们享受着其他球迷羡慕的目光。据说有黄牛已经将套票拿出来 卖，虽然只有一场球，但价格已经高达数百元。有套票为什么还要来排队买票？他们七嘴八舌地告诉记者，“为朋友买，或者帮朋友排！”见到记者拍照，一位小伙 子马上起身，“大哥你别拍我，万一见报就麻烦了，我是向单位请病假来排队的！我知道有点不务正业，但这么多年就这么一回。”
　　北京已经快入冬了，天气一天比一天冷。球迷们看来是准备持久战了，在队列中搭起帐篷。“没办法，每人就限购两张，还要拿身份证。所以我们只能全 都来，因为现在还不知道什么时候才开始放票！”一个小伙子一边搭帐篷，一边对记者说。在地面上，堆了不少快餐和饮料瓶子，看得出他们这一天没怎么动。“我 们中最早的在昨天就已经来排队了！还好不是一个人，而是有人来倒班。”问他们冤不冤，球迷们都笑了，“不冤，只要国安能夺冠！”
　　19:00“黄牛”雇民工排队
　　晚上7点左右，球迷们在队列中发现不少外地口音、衣着简朴的人员。“真没辙！”球迷们愤愤地说。他们告诉记者，那些人都是在京务工的外地民工， 黄牛党雇他们排队购票。国安有“每人持身份证购买两张票”的政策，黄牛们就有这样的对策，而且让国安俱乐部和球迷都毫无办法。“真的挺心疼球迷的，可是， 我们现在也不太清楚到底什么才能够放票。劝他们，也劝不回去，真的没办法！”一位俱乐部工作人员说。
　　国安总经理李小明透露，之所以迟迟不放票，是因为此战事关重大，有许多事项需要协调解决。“这场太重要了，不仅是因为队伍可能夺冠，还有就是要 增加看台等多方面问题。这些事情还需要和市政府、市公安局、市体育局等多个单位进行协商和沟通。外界传言有人拿到票了，真的不可能，现在谁都没有票。俱乐 部肯定要协商好，才能做出最后出票的决定，希望球迷稍安勿躁。”
　　国安俱乐部对外表示，京杭之战的球票还没有印刷，印多少票、票价如何、何时售票，都还没有最终明确。“我们已经和市政府达成了意向，初步决定将 在周四上午九点进行售票。票价可能会有所上调，但不是非常夸张，票量在五万张左右。”而在杜绝黄牛、假票这些问题上，俱乐部工作人员为难地表示，“现在真 的挺难的，我们已经采取了限购措施对付黄牛。至于假票的问题，只能奉劝各位球迷，到正规的售票途径购买球票。”
　　22:00 大合唱：国安冠军
　　22点，记者再次来到工体北门的售票处。这里的人群比白天更加拥挤，队伍长龙向东延伸了百余米，黑鸦鸦的一大片。帐篷已经有二十多个，“有的人 之前都不认识，就是来了这里，就成了一家人。”几个少年在用塑料绳拉起的人龙中踢着足球，一名小球迷甚至赤膊上阵，踢一脚球怒吼一声，不知道他是因为寒冷 还是亢奋。
　　据说还有近40个小时才能放票，球迷们百无聊赖，队伍中的应急灯和蜡烛，映衬着因为疲惫和寒冷有些发青的脸。打打扑克，喝一口方便面的汤，或者 几个人一起喊两句：“国安是冠军！”然后，整个工体北门就会来一次“大合唱”。再不成，就骂骂天津泰达，骂骂上海申花，周而复始地反复着。
　　“亢奋！亢奋！其实，这时候让我在家，我哪睡得着啊。昨天看到网上那么多传言，我一宿没睡，还不如来这里，和大家在一起心里踏实！”球迷李楠对记者说。
　　北京城上一次这样为足球颤动，还是1995甲A最后一战，在先农坛对阵广东宏远。当时国安凭高峰、高洪波的进球3比1力克宏远，夺得了当年联赛 亚军，漫天飞舞的纸屑和透明的打火机，成为了国安球迷最美的记忆。一群小球迷告诉记者，那时还是骑在父亲的肩膀上，见证了那激动人心的一幕，也从此种下了 与国安的不解情缘，所以这一夜，他们心甘情愿为见证而守候。
　　一位40多岁的球迷与记者闲聊，从1996年开始，国安主场比赛场场不落，这次提前两天排队，是为了让媳妇一起感受一下。“跟单位请了假，这个关键时刻，跟单位说国安门票这个事，什么样的领导都得同意啊！”
　　门口，几名外国留学生骑车经过工体，情不自禁地拿起相机仔细拍摄起来。
　　23:00 足球让美女跑开
　　“儿，注意自己的安全，看好你的自行车，真累。”一名小球迷向记者展示他妈妈发来的短信。而与家人、旁人不理解的眼神相比，国安球迷说，他们更受不了的是心里的憋屈。
　　从纷纷扰扰的“内定冠军”到京骂、绿光，国安球迷认为他们和球队一起被妖魔化了。“绿光只是我们吗？看见天津的绿光了吗？我们在地下室被围了那 么长时间。我们被说绿光，我们被嘲笑永远争第一，这口气憋得太久了。今年的上座率，国安是最高的，北京球迷是最好的，从球迷到国安，我们要真正拿一次冠 军，让所有的人都闭嘴。”
　　同时，球迷也有点质疑自己的俱乐部，“其实我们是在无奈中等待。北京国安能走到今天这一步，靠的是什么？靠的是我们球迷！一直有人在嘲讽，为什么国安不来看看我们？哪怕递上一瓶矿泉水。”有人苦笑着打断了：“我们什么都没有，我们只能靠体力了！”
　　在这条人龙边上，是北京著名的夜店“MIX”。一位穿着黑丝的美女经过，球迷阵中会立刻发出一阵响亮的口哨，让美女立即加快步伐。而一辆Z4小 跑车被现场维持秩序的警察勒令驶离，球迷群中响起了一片口哨声。这一夜京城的时尚核心，不属于穿着短裙的喷香美女，属于北京球迷，属于足球。
　　大部分时候，球迷们自觉维持着长队的秩序。一位安保人员私下告诉记者：“其实我自己也是国安的球迷，看见这些孩子们，觉得他们很不容易，很可爱，也真的很感动。”
　　如果周四下午才卖票，那球迷们还得在工体外面再熬上两天两夜。有人开始怀疑自己是否有体力继续等下去，“等到那一刻，肯定没体力了，买两瓶二锅头，一鼓作气就冲过去了。”
　　已经是深夜23点，北京的气温降到10度以下。球迷李楠和他的同学们，拉了拉身上印着国际米兰的浴巾，“天冷了，哥儿几个紧紧衣服吧。”
', NULL, N'临界冠军京城夺票总动员 球迷:夺冠!让所有人闭嘴')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (84, 4, N'洪元硕：北京人的脸就看你们了 最后一哆嗦看着办', N'sport                                             ', CAST(0x00009CB000114900 AS DateTime), NULL, N'记者胡博轩北京报道 “北京人的脸皮能不能护好？最后一哆嗦是什么样的结果，你们自己看着办。”生死大战前，国安高层一直没给球员压力，但老帅洪元硕却以这样的话语给球员们打以一针鸡血。
　　虽然国安在香河的集训对外封闭了，但这并不是因为自身压力，而是担心外界带来压力。2007年形势一片大优之下，头脑发热失去冠军，成为国安的 前车之鉴。“07年真的吃亏了！那时候还有好几场，我们就好像已经是冠军了，结果全都‘热晕’了。结局大家都知道了，比赛都快不会踢了。”一位俱乐部官员 认真地说：“媒体朋友也体谅一下吧，我们现在都需要冷静，一定要冷下来。不能热起来。要让队员们意识到，这就是30场联赛中的普通一场。说实话，我也紧 张，可是不能让球员们紧张！”
　　周一，国安将士来到了工体外场进行训练。主力和替补两拨人马有说有笑，根本不像一场大战即将到来的情景。对抗中，路姜接到队友的传球可以打空门，他却夸张地趴在地上做了个鱼跃冲顶的姿势，引得队友们一阵哄笑。
　　已经退役的前国安球员薛申，这天也特意来到了训练场。此前他在美国学习体能训练，国安队员都拿他打趣。周挺随着主力一拨从他身边跑过时，夸张地 问：“薛指导，您觉得我们这个速度还可以吗？”薛申也一本正经地回答，“太慢了，加快！”分在替补一方的路姜也笑着问，“薛指，您觉得我们这个体能训练还 可以吗？”就连已经身为老大哥的队医张洋都笑着说：“薛指导，我以后就踏踏实实跟您混了！”
　　薛申感受到了国安的气氛和凝聚力。一位队员私下里说：“到不是薛申来了能帮助队伍什么，而是他刚从美国回来就来队里，这对我们是一种激励。今年旭哥(韩旭)、商毅他们都来过，每次都让我们觉得很热乎。”
　　总经理李小明一身休闲装来到了场边，他始终满脸带笑，不过不愿意对比赛过多谈及，反而和记者聊起了买车的话题。“好多人还在分析最后一轮，要我说没什么可分析的，打好咱自己的比赛就行了，别的咱不管那么多。今年29场都挺过来了，最后一哆嗦，我信得过他们！”
　　主帅洪元硕似乎不在乎给球员们压力，他在训练前告诉队员们：“说句不好听的，咱北京人、咱北京队都好个面子，都要个脸皮。比赛打到这个程度了， 咱这个面子能不能自己抓住，咱这个脸皮能不能自己护好？就看你们了。我告诉你们一句真心话，你们很好，有这个成绩是你们的功劳。但就剩这最后一哆嗦了，是 什么样的结果，你们自己看着办。咱北京老百姓盼了多久了，能不能让咱北京老百姓也有一回面子？都看你们了！”
　　随后，洪元硕还特意叮嘱替补队员，“不管是有希望打上的，还是没希望打上的，我告诉你们，每个人都要认真练好这个星期，你们明白这个星期意味着什么。每个人都得给我好好练，我丑话说前头，谁要是让我知道从他那里出了任何问题，我决不饶他！”
', NULL, N'洪元硕：北京人的脸就看你们了 最后一哆嗦看着办')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (85, 4, N'省政府500万悬赏建业登顶 球员:遗憾主场放跑国安', N'sport                                             ', CAST(0x00009CB0001163F4 AS DateTime), NULL, N'特约记者刘爽郑州报道 联赛进入最后一周，冠军的争夺只剩下90分钟，理论上还有夺冠机会的河南建业队在主教练唐尧东的带领下静心在中牟基地备战，他们将于周四晚上前往深圳客 场。虽然能否夺冠要看国安的联赛，但建业上下却不愿意放弃这百分之一的机会。河南省政府也是开出巨奖激励前线将士的士气。据悉，如果最终夺冠，政府将额外 奖励队伍500万。
　　赛季初目标定位保十争八的建业能打到这个份上，所有人都没有想到。随着球队的成绩越来越出色，足球在河南越来越热，省委领导也对建业赞赏有加。 目前建业已经成了河南的旗帜和名片，省委已经号召全省“向建业学习”。这对建业来说是莫大的荣幸。“领导给我们这么高的荣誉，是对我们的激励，球队肯定会 在深圳客场拼尽全力去争取胜利，能否夺冠就要看命了。”建业一位高层表示。其实，上一轮主场战胜天津、取得亚冠资格之后，省政府已经开出了第一笔奖金 200万，而为了激励球队在最后一轮奋勇拼杀，500万夺冠奖也已经许下，“就看我们有没有命去拿这笔奖金了。”
　　据悉，国安方面开出的夺冠奖金是1000万，相比之下河南的奖金是小数目。但对建业将士来说，这也不是一笔小钱。“俱乐部没有额外的夺冠奖金， 下一场赢了也就是正常的赢球奖。”俱乐部一位工作人员表示。本赛季，建业并没有大笔投入，赢球奖是单场60万，连胜每场加5万。到了最近几轮的关键时刻， 俱乐部才悄悄把单场赢球奖增加到了100万，但相比起国安的每场140万，这也不高。如果能夺冠，这500万相当于建业将士今年全年赢球奖的一半，对他们 来说，夺冠的动力已经够足了。“现在是坐二(百万)望五(百万)，能夺冠当然最好，真要是我们赢了最后没拿冠军，也没什么遗憾的，谁让我们在主场把国安放 跑了呢？”此时，建业一位主力又开始后悔主场2比2跟国安的平局了。
　　建业将士正在全力以赴备战跟深圳的比赛，建业的球迷们也没有闲着。他们发誓要把深圳的球场变成建业的主场，据称有数千建业球迷要远赴客场为球队 助威。具体的人数当然不得而知，但周末从郑州前往深圳的各航班已经全部售罄，火车票也全部卖完了。由于人数过多，大部分人还在寻找奔赴深圳的方法，据称郑 州当地的铁路部门已经在紧急安排周末开出一趟临时的球迷专列开往深圳，这在联赛史上还是头一遭。“现在郑州足球太火了，建业的教练、球员只要上街，别人都 会跟他们打招呼，他们现在是城市英雄，这种局面，在中国足坛已经好多年没看到过了。”一位建业俱乐部官员感慨地说。
', NULL, N'省政府500万悬赏建业登顶 球员:遗憾主场放跑国安')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (86, 4, N'深足教练组：说我们买球是侮辱 朱广沪常暗中支招', N'sport                                             ', CAST(0x00009CB000118974 AS DateTime), NULL, N'　对于几近保级成功的深足来说，自从撞衫事件被足协扣罚三分之后，在最近的9轮比赛中，可以说奇迹般地取得了5胜4平的骄人战绩。但是质疑也随之 而来，这其中，有人说深足用钱收买了对手，也有人讲是私下进行了“人情交易”，特别是在上轮客场战胜成都谢菲联队后，“怀疑论”更是甚嚣尘上。
　　昨天下午，深足主教练谢峰以及助理教练刘文斌、黄庆良集体接受了晶报记者的独家专访，详细介绍了他们接手深足以来的12轮联赛一些鲜为人知的“故事”。
　　买通对手？我们没钱！
　　晶报：有媒体做过统计，单从咱们新的教练组接手球队后12轮联赛的积分看，可以排在全部16支中超球队的前两名，于是有人会很自然地联想到，我们获得的这些分数，是不是来得不干净？
　　谢峰：别的球队怎么样，我不清楚，但是要是说深圳队用钱收买过对手，这是对我们全队的侮辱！让对手送分必须具备两种可能吧，一是我们给人家钱， 但是我可以说，深足没钱，即使有这个心，我们也没这个能力；二是对手给我们个人情，但是你知道吗，不知道多少人都希望我们深圳队“死”呢！
　　刘文斌：有一些报道，我们看了非常气愤，这是对我们全队的侮辱。我们队是一穷二白，拿什么去跟人家进行交易？
　　黄庆良：就说上轮我们打成都吧。从我这个教练的角度看，成都跟我们的心态不一样。他们是已经保级，而我们则必须要拿三分，所以他们在场上踢得不 紧是好理解的。我做过运动员，知道这股“气”对比赛的影响程度。而且你知道吗，当年王宝山(现成都队主帅)在深圳的时候，与谢峰根本就“尿”不到一个壶 里，在成都见面，两个人也只是礼节性地握一下手，一句话没有。所以，王宝山怎么可能送分给谢峰呢？
', NULL, N'深足教练组：说我们买球是侮辱 朱广沪常暗中支招')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (108, 28, N'惊奇！！小虫吃大蛇！', N'环球搜奇                                          ', CAST(0x00009E02010C7CD0 AS DateTime), NULL, N'小虫子把蛇吃了。。真猛！', NULL, N'动物,大战,不可能,小虫,大蛇,未解之谜,自然,罕见')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (164, 29, N'非主流，真可怕', N'激进八十后                                        ', CAST(0x00009E02010F26D8 AS DateTime), NULL, N'非主流，太可怕了！！干掉！蹦！囧。。', NULL, N'非主流,90后,80后,争议')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (167, 1, N'景区，如何不再依靠门票收入', N'余荣华 ', CAST(0x0000A1D500BE07BC AS DateTime), N'', N'随着端午小假期的来临，很多打算出游的人又说起了景区门票这个话题。最近一段时间，一些景区不收门票的开始收了，收门票的价格节节提高。景区票价上涨原因在哪，门票收入在景区运营中占多大比重？相对不少景区动辄一二百元的票价，北京一些著名景区的门票为何长期相对便宜？利用社会公共资源建设的旅游景区，门票走向低价、免费是必然趋势。景区告别门票经济，路还有多远？记者在北京、婺源等地做了调查。

　　北京景区票价相对稳定

　　外地部分景区票价上涨，是因建设管理成本、村民分红等因素

　　人多价不涨，是北京旅游景区的一个特点。“门票价格在全国基本保持在最低状态。”北京市旅游委副主任于德斌介绍说，目前在北京206家A级旅游景区中，绝大部分的景区门票未过百元，且价格自2008年以来基本未作调整。据统计，这其中有近50家景区免收门票，包括4A级景区12家；有16家景区门票在10元以下，有57家景区门票价格在50元以下，占收费景区的37%；门票超过100元的仅有欢乐谷、海洋馆等少数景区。

　　相比之下，面对运营成本、人工成本增加，其他景区就没这么“淡定”了。从今年3月开始，江西婺源文化与生态旅游区门票由以前的180元涨至210元。以“五一”假期为例，发改委宣布对部分景区门票价格实行优惠，婺源门票从210元下降到165元，相当于比原来的价格便宜了15元。峨眉山门票从150元涨到185元后又降到165元，优惠后的价格比涨价前还高出15元。湖南张家界武陵源景区“五一”降价20%，票价仍超200元。

　　婺源旅游股份有限公司总裁助理王晖向记者表示，一次性投入建设成本、日常管理维护成本、村民分红成本、公益事业支出、民俗文化表演成本、景区村民的养老保险费用等都是门票价格决定因素。

　　婺源是村民混居型景区，管理难度大、成本高，在古建保护、道路建设、环境卫生等方面需要投入大量资金，村民分红也需要从门票收入中按比例提取资金。如2012年仅用于李坑景区的排污工程等基础设施建设与公益事业的资金达630多万元。

　　婺源县物价局滕晖介绍，按照现行规定，门票价格定价，应在景区运营成本的基础上，保障经营者纳税和景区投资者合法利润，并充分考虑市场供求关系和消费者的承受能力等多方面因素确定。目前，江西省对景区门票价格管理没有一个具体量化实施的操作办法，记者了解到，江西省发改委正在调研，将在近期出台一个全省景区门票价格管理工作指导意见。

　　关于避免景区门票价格过快上涨的措施，滕晖表示，一是严格执行国家关于门票价格调整期限和调整幅度的规定。二要对在国内外享有较高声誉的全国重点文物保护单位、国家级风景名胜区和自然保护区等重要游览参观点门票价格的制定和调整严格实行价格听证制度，以保证经营者和消费者的合法权益。

　　景区票价低靠啥保运营

　　旅游收入不依赖门票，并且部分景区有财政支持

　　那么，北京的景区为何能够坚持低票价，既没有让票价随着游客数量“水涨船高”，也没有为了“控制人流”理直气壮地涨价？伴随着低票价的经济压力，又将如何化解？

　　于德斌说：“北京是首都，全国人民都希望来看一看。”所以，尽管北京市的景区类别、归属多样，但政府严格管控景区提高票价。

　　那么票价不提高，旅游收入是否受到很大影响？北京市旅游发展委员会主任鲁勇表示，北京发展旅游业的视野不局限在一个个景区里，旅游收入的来源更不集中在门票上。“城市的各种资源都可以成为旅游资源。”旅游业使北京整个城市成为一个开放式的旅游景区，成为经济发展的一个重要引擎。2012年，北京市旅游总收入3626.6亿元，同比增长12.8%。旅游总人数2.31亿人次，增长8.1%。

　　非营利性景区运营成本怎么解决呢？以颐和园景区为例，北京市按照相关政策法规，门票价格由市发改委统一制定，自2001年定价后，12年来一直稳定为淡季20元，旺季30元。目前，颐和园景区是北京市公园管理中心所辖事业单位，得到地方财政的有力支持，享有古建修缮、园林绿化、植被养护等多项专项资金扶助。景区曾尝试门票涨价，北京市发改委制定了相应的调价计划并举行了价格听证会，后经多方讨论和征求意见，最终维持了原价没有进行上调。

　　这些年，迅猛上涨的游客人数，一定程度上缓解了票价不变的经济压力，但同时也给景区带来安全压力。例如故宫博物院2012年“十一”黄金周接待了70余万游客，比上年增长25.5%，单日接待量高峰值达到18.2万，创新纪录。今年婺源单日游客量高峰达17.8万人次。

　　不靠票价杠杆来调节人流，只能加强管理。每至黄金周，北京市旅游委都要针对全市45家重点景区进行监测，实时发布流量统计和舒适度指数。故宫、香山、八达岭长城等各热门景区都有客流高峰应对措施，根据流量在重点时段设立预约机制，让大型团队客人错峰错时，针对散客发布预报提示，达到分流目的。

　　告别门票经济是趋势

　　但转型困难不言而喻

　　“利用社会公共资源建设的旅游景区，门票走向低价、免费是必然趋势。”于德斌说，从欧美等旅游发达国家的经验看，旅游收入的提升很少是靠景区的门票来拉动。政府不断加大对利用社会公共资源建成的景区的投资力度，发挥其公益属性。同时景区提升精细化管理水平，降低景区运行管理成本。

　　婺源提出景区未来的发展方向是逐步取消门票，推动由门票经济向产业经济、由资源竞争向文化竞争、由观光旅游向休闲度假养生旅游转变。

　　然而转型困难不言而喻：即使在北京，门票收入仍占据A级景区所有营业收入的一半以上，商品销售收入所占总收入比重不到3%。这就需要景区打破主要靠门票收入的单一经营模式，以旅游休闲功能为主导，辐射产业链两端的产业集聚化发展模式，使景区经营收益综合化。

　　专家建议，对于不涉及文物保护因素的景区，有更多选择，可以从整个旅游产业链的角度提升创收，积极开发旅游商品、餐饮、住宿、文化娱乐等新兴增长点。

　　从2010年开始，北京试水“北京礼物”，将曾经各自为战的京味儿旅游商品统一打造。2012年北京礼物销售收入达5500万元。征途刚启，未来的空间很大。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (168, 1, N'高考期间中东部地区将现大范围降雨', N'', CAST(0x0000A1D500BE2EB3 AS DateTime), N'', N'科技日报北京6月5日电 （记者游雪晴）中央气象台预计，2013年高考期间（6月6日至10日），我国大部地区多降雨天气，气温较为适宜。中东部地区将有一次大范围降雨天气过程，部分地区有大到暴雨，江南北部、华南北部局地大暴雨，并伴有雷电、大风或冰雹等强对流天气。受强降雨影响，芦山震区、重庆东南部、湖北西南部、湖南西北部的局部地区发生地质灾害的气象风险高。
　　由于整个高考期间都包含在我国中东部地区大范围降雨出现时段内，因此中央气象台特别提示各地考生及家长密切关注当地天气预报，出门应携带雨具，并注意防范短时强降雨、雷电、大风或冰雹等天气对出行安全可能造成的不利影响。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (169, 1, N'警方错把女警当妓女只是一场乌龙？', N'张晓航', CAST(0x0000A1D500BE6324 AS DateTime), N'', N'昨日，网曝“郑州市公安局文化路派出所警察深夜抓卖淫女”时，错抓商丘女民警王某母女俩，其间还殴打两人。王某女儿表示，警方已经道歉。但文化路派出所领导拒绝接受采访。（6月6日 中国广播网）
　　据报道，商丘女民警王某来郑州看望女儿，3日晚，她和女儿刚休息，有男士敲门说，他是派出所的。“我从猫眼一看，真有一个人穿警服，就开门，七八个男的就进来了。”王某说，这些人“一句话也没说”，一拳打在她脸上。她拿出自己的警官证，还说出单位领导的名字，“没想到，他们更狂了，连推带拉把我们从22楼扭到1楼。”到派出所后，她说自己有心脏病。“有民警笑着说没事，严重了把我拉医院，死了公安局负责。”从被抓到派出所到次日凌晨2点，一直没人搭理她们，也不让说话。“后来说这是一场误会，你们可以走了。”王某母女非常不满。
如此惊魂一刻，好在警方最后查清“这是一场误会”，才让女民警母女终止了这场“噩梦”。可这场误会就一句轻描淡写的“你们可以走了”就了事了吗？似乎母女俩还应该感到庆幸，还要对派出所的同志感激再三？是啊，若不然，不知该母女俩还要遭多少莫名的委屈。可作为当事人，不管是谁，在“庆幸”之余，都应该会“非常不满”。 
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (170, 1, N'山西离柳焦煤集团井下人行车发生事故6人死亡', N'吕晓宇', CAST(0x0000A1D500BE8C57 AS DateTime), N'', N'新华网太原６月５日电（记者吕晓宇）记者５日从山西省吕梁市新闻办获悉，５日，山西离柳焦煤集团有限公司鑫瑞煤业技改矿井下人行车发生事故，６人死亡。
　　６月５日下午２时许，山西离柳焦煤集团有限公司鑫瑞煤业技改矿人行斜井中当班入井工人乘坐的人行车，刹车突然失灵，车辆无法控制，顺人行斜井快速向前方滑行，滑行过程中，由于遇到转弯处，导致车辆猛撞到巷壁上，致使整个车辆全部变形，当车乘坐人员共１６人，经全力抢救，其中８人安全出井，６人死亡，２人受伤，伤者没有生命危险。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (171, 2, N'潘基文祝贺赖斯被任命为美国国家安全顾问', N'', CAST(0x0000A1D500BEBB45 AS DateTime), N'', N'中新网6月6日电 据联合国网站消息，联合国秘书长潘基文5日通过发言人发表声明，对美国驻联合国代表苏珊&#8226;赖斯被任命为美国国家安全顾问表示热烈祝贺。他希望赖斯在这一新的重要岗位上继续她的出色职业生涯、服务于她的国家时取得成功。
　　潘基文对于苏珊&#8226;赖斯自2009年担任美国常驻联合国代表以来所发挥的充满活力的作用表示赞赏。他认为，赖斯一直是安理会中一个强有力的声音，是在联合国从和平与安全到人权与发展等诸多问题上的一个卓有成效的倡导者。
　　潘基文同时对赖斯在非洲问题和诸如妇女赋权等问题上所表现出的坚定承诺表示欢迎。他指出，联合国本身因赖斯致力于促使美国坚定地保持与联合国的协作、将其视为通过合作和多边途径处理全球主要挑战的世界主要论坛而受益。
　　潘基文秘书长在声明中表示，自己期待着同苏珊&#8226;赖斯在她的新的工作岗位上继续与其合作，并欢迎她的继任者前来联合国工作。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (172, 2, N'美国海豹突击队硬汉变性成美女', N'', CAST(0x0000A1D500BEE884 AS DateTime), N'', N'据英国《每日电讯报》6月4日报道，一位参加过波斯尼亚、阿富汗和伊拉克战争、荣获多种勋章的美国海豹突击队成员在退役之后，为了实现自己童年的愿望，选择接受变性手术。如今，这位曾经的“兵哥哥”在成功变性之后撰写回忆录，描述自己在海豹突击队服役期间的心路历程。 
  克里斯汀&#8226;贝克在这本名为《勇士公主》（Warrior Princess）的书中透露，她在小时候就有着少女情怀，因此在20年的服役过程中，她一直都在为自己的性别而纠结不已。
  “我在三年级的时候就意识到自己是个女孩……小时候，我特别希望能和我的姐姐互换身体。我睡觉的时候总是在想‘我想成为她’，”46岁的贝克在书中写道。 
  然而，由于美国军方禁止军人在服役期间进行变性手术，贝克只能在2011年退役后才得以公开穿着女性服装，并开始接受激素治疗，为变性手术做准备。 
  尽管贝克的选择得到战友们的支持，却一直遭到家人的反对。贝克回忆称，自己小时候曾因偷玩姐姐的芭比娃娃和试穿裙子而受到父母打骂。直到如今，她的家人仍难以接受她变性的事实，甚至认为这种性别认定障碍来自战争带来的心理创伤。 
  对此，这位曾有过两次婚姻、育有两个儿子的变性人也发出了自己的声音，表示她撰写这本书的初衷就是为了解决变性人高自杀率问题，并称如果允许的话，她希望重返海豹突击队担任训练员。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (173, 2, N'普京逮捕铁腕市长展示肌肉向世人表明克宫仍大权在握', N'', CAST(0x0000A1D500BF16C0 AS DateTime), N'', N'俄罗斯总统普京日前突击逮捕了俄罗斯最暴力大城市的市长，这也是普京多年来为控制达吉斯坦所采取的最大胆行动之一，达吉斯坦地区已日益成为有组织犯罪和伊斯兰叛乱活动的温床。
    赛义德&#8226;阿米罗夫担任达吉斯坦首府马哈奇卡拉市市长已有15年，位高权重，因此一心要展示力量的克里姆林宫派出了配备直升机和装甲运兵车的特种部队前去抓捕他。
    达吉斯坦是一批试图在俄罗斯高加索山脉建立一个伊斯兰国家的叛乱分子的主要聚集地。
    通过逮捕自己麾下的一个地方铁腕人物，普京表明了克里姆林宫仍大权在握。不过他也可能制造出一个权力真空，武装分子可能会趁机进攻，犯罪团伙则开始争抢地盘，而俄罗斯还有不到一年就要在山脉那边举办冬奥会了。
    这个以穆斯林为主的地区目前最令人担忧的是，现在可能会爆发一场旨在争夺阿米罗夫控制的商业和政治利益的黑社会式的战斗。
    “这次逮捕震惊了所有人。”莫斯科卡内基中心的专家阿列克谢&#8226;马拉申科说。
    “在奥运会前夕冒这个险是危险的，”他说，“克里姆林宫已经对一个忠诚但难以管理的市长感到不耐烦了。他想怎么样就怎么样……他统治着一个国中国，这种情况不能再继续下去了。”
    俄罗斯调查人员说，阿米罗夫涉嫌谋杀。而他的律师说，阿米罗夫没有犯罪，他被捕是政敌的政治报复。
    联邦警察没有将这个强势的市长留给地方拘押，而是将他送往莫斯科一处安全的监狱。
    普京控制动荡的高加索穆斯林地区的主要手段是为亲自挑选的地方铁腕人物提供大量的财政和政治支持，这些铁腕人物不会容忍异议，他们掌控着无情的安全部队，并维持着商业帝国。
    达吉斯坦的经济有四分之三是靠莫斯科方面补贴的。当地大多数人认为，补贴的钱都进了那些带着保镖开着豪车的地方官员口袋里。
    几周前在接受路透社采访时，阿米罗夫还夸耀自己躲过了15次暗杀，其中包括1993年让他坐上轮椅的那次。
    “很多武装组织都想除掉市长，但他们能怎么样呢？他们都失败了。我是更强的那个。”他说。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (174, 2, N'习近平在墨国会发表演讲:朋友要老 好酒要陈', N'刘潇潇', CAST(0x0000A1D500BF4631 AS DateTime), N'', N'据央视报道，正在墨西哥进行正式国事访问的中国国家主席习近平在墨西哥国会参议院发表演讲。 

    习近平说，推动中墨关系，必须趁热打铁。中国有句话叫“宾至如归”，来到墨西哥，我就有这样的感觉。来墨途中，当我透过舷窗俯瞰太平洋，仿佛看见那些满载丝绸、瓷器的“中国之船”破浪前行。拉美有句谚语：“朋友要老，好酒要陈。”中墨两国的深厚友谊，如陈年龙舌兰酒，历久弥香。 

    习近平说，中墨要坚持1、平等相待、加强战略协作。中国古代思想家孔子说过：“己所不欲，勿施于人。”2、合作共赢、促进共同发展。分享彼此发展机遇。3、沟通协调、维护共同利益。携手应对全球性挑战。4、交流互鉴、传承中墨友好。让中墨友好合作的大船不断乘风破浪前进。 

    习近平说，我是一个足球迷。中国足球队一直很努力，但目前只有一次闯进过世界杯比赛，带领中国队创造这次纪录的就是也担任过墨西哥国家足球队主教练的米卢。我听说，一位墨西哥体育官员曾问中国跳水队领队，包揽金牌是什么滋味。两年前，在中国教练的指导下，墨西哥“跳水公主”埃斯皮诺萨和队友们包揽了2011年泛美运动会跳水项目全部8块金牌，尝到了包揽金牌的滋味。祝愿中墨两国合作夺得更多“金牌”！ 

    习近平说，1、政治上，中拉要在涉及彼此核心利益和重大关切的问题上继续相互理解、支持。2、经济上，要深挖合作潜力，创新合作模式，深化利益融合。3、人文上，要加强文明对话和文化交流，不仅“各美其美”，而且“美人之美，美美与共”。 

    习近平说，中国人民热爱生活，期盼有更好的教育、更稳定的工作、更满意的收入、更可靠的社会保障、更高水平的医疗卫生服务、更舒适的居住条件、更优美的环境。中国在发展道路上仍然面临不少困难和挑战，实现中华民族伟大复兴的中国梦，还需要付出长期艰苦的努力。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (175, 3, N'我军少将：中印两国不会因领土争端大打出手', N'', CAST(0x0000A1D500BF6DCC AS DateTime), N'', N'中国印度两国军队在印控克什米尔拉达克的普桑谷地的对峙持续20天后，于周日(5月5日)告一段落。据印度媒体报道，中国军队在与印度军队的边境对峙中采取“咄咄逼人”的架势，并深入印度“国境”19千米。图为中国军队在达拉克地区打出横幅与印军对峙的画面。
　　人民网北京6月5日电(记者黄子娟)为期三天的第十二届香格里拉对话会6月2日在新加坡落下帷幕，军事专家朱成虎少将做客人民网，就香格里拉对话会上的一些热点问题与网友在线交流。在谈到中印边界问题时，朱成虎表示，我们要客观地看待中印边界问题，中印之间不会因为领土争端而大打出手。
　　朱成虎表示，中印边界问题是殖民主义统治的遗产，是非常复杂的问题。近期发生的所谓“中印边界对峙”的问题，印度的媒体发挥的负面作用不可低估。就中印总体关系来看，戚建国副总参谋长讲得非常对，这几年中印关系发展非常迅速，政治关系已经到了成熟的地步。中印两国在一系列问题上都有共同的看法，这是由两个国家的国情决定的，因为我们是最大的发展中国家。
　　朱成虎说，从历史上看，中印两国有许多共同点，都是大国，有着悠久的历史和灿烂的文化，两国的历史文明都曾为世界文明作出过重大贡献。加上这几年中印两国领导人频繁互访，使中印关系朝着建设性的方向发展，而且这种发展是非常稳固的。比如中印之间的贸易，增长的速度惊人，这对两国人民都有利。领土争端的问题虽然引起一点小的争执，但争执完了以后，大家又撤回到历史的原点，这是挺好的结果。我们要客观地看待中印领土问题，我觉得中印之间不会因为领土争端而大打出手。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (177, 3, N'朱成虎：中美两国均有加强军事合作的意愿', N'张洁娴', CAST(0x0000A1D500BFB808 AS DateTime), N'', N'人民网北京6月5日电 （张洁娴）为期三天的第十二届香格里拉对话会6月2日在新加坡落下帷幕。会上，美国国防部长表达了与中国增强军事交流的意愿。军事专家朱成虎少将在今日做客人民网演播室时表示，目前中美双方均有加强军事合作的意愿。随着两国领导人的交流不断增加，把军事关系提到更重要的议程上，两军的交往也会不断增加。
　　中美双方若对抗，对各自均有负面影响
　　美国国防部长哈格尔于本届对话会上表示，中美两国的领导人都希望增强两国军队间的交流，而此类交流也确实在稳步增加，美国不希望看到两国军队之间出现误判、误解或者误读，这只能通过对话来实现。
　　朱成虎表示，哈格尔的发言表明，美方确实希望与中国发展双边军事关系。 他分析道，中美两国作为最大的发达国家和最大的发展中国家，同样承担着促进世界和平与发展的责任。若双方的相互猜疑和互不信任长期发展下去，走向对抗，显然对两国履行自身的国际义务和职责是有负面影响的。美方也认识到了这一点。
　　“美国朋友想发展中美关系，是实实在在的”
　　从美国方面来讲，多年来已经历过数场战争，美国也认识到依靠武力征服对方几乎是不可能的。美国作为头号超级大国，面对政府控制能力低下的阿富汗，经历近十年的战争，最后的结果却是不得不撤退。若与中国发生对抗，其结果更可想而知。
　　因此，为了履行中美双方的职责，为了两国的发展、共同的利益及各自的利益，为了两国人民和世界人民的福祉，中美两国应该发展军事关系。因为军事关系是两个国家总体关系的重要组成部分，并可能影响其他领域关系的发展。军事上的对抗，必然会对政治关系、经济关系、文化关系和其他领域的关系产生重要的影响。“所以，我想美国朋友想发展中美关系，确实是实实在在的。”朱成虎说。
　　我军代表团曾于4月访美，两军交往或不断增加
　　朱成虎透露，今年4月，自己曾率我军代表团访美。访问期间，中方表达了希望进一步加强两军交往的意愿，并邀请美方派出同级代表团访华，而美方也有同样的愿望。
　　朱成虎相信，随着两国领导人的交流不断增加，把军事关系提到更重要的议事日程上，两军的交往也会不断地增加。他指出，此类交往对于中美增进了解、建立互信将非常有益。同时，也有助于促进两军在安全领域的合作。比如在人道主义救援方面，中方有丰富的救援经验，美方具备先进的装备，若双方能联手合作，对受自然灾害打击的地区进行人道主义救援，将是珠联璧合，发挥更大的作用。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (178, 3, N'巴基斯坦中国制ZDK—03预警机和枭龙大批服役', N'', CAST(0x0000A1D500BFD4AB AS DateTime), N'', N'中国一直是巴基斯坦好朋友，其三军也一直装备了中国制武器。相对比西方售武的政治要求来说，中国就非常宽松，不光出售整机，还向巴方提供技术，及各种级别的修理厂。目前，巴基斯坦空军已大量装备了中巴联合研发的枭龙战机与中国自产的ZDK-03式预警机，极大提升巴空军战力。
中国一直是巴基斯坦好朋友，其三军也一直装备了中国制武器。相对比西方售武的政治要求来说，中国就非常宽松，不光出售整机，还向巴方提供技术，及各种级别的修理厂。目前，巴基斯坦空军已大量装备了中巴联合研发的枭龙战机与中国自产的ZDK-03式预警机，极大提升巴空军战力。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (179, 3, N'美国学者公开指责奥巴马对台政策变“沉默”', N'', CAST(0x0000A1D500BFEE86 AS DateTime), N'', N'参考消息网6月6日报道 美国《华盛顿邮报》网站6月3日刊登美国外交学会国际问题研究员万斯&#8226;瑟丘克的署名文章。文章说，过去数十年，美国决策者在考虑对华冲突时，担心的焦点都是台湾地区。与之相反，如今，在海峡两岸关系显著改善的情况下，中美紧张关系似乎在每个领域都在升级，但台湾地区除外。
台海冲突危险降低
文章说，自台湾当局领导人马英九2008年就职以来，台湾政府已与中国大陆签署18项协议，导致商业和旅游业迅速发展。在贸易壁垒倒下和直航班机大幅增加（每周有600多架次，而5年前还是零）的情况下，台湾海峡似乎成了亚洲唯一一个全球化和经济一体化似乎正在战胜历史性敌意的热点地区。
文章称，这个拥有2300万人口的岛屿在另一方面也与亚洲其他地区不同：在奥巴马政府深化与亚洲各国联盟关系之际，台湾地区引人注目地缺席了这场对话。2013年春天，在描述美国“重返”亚洲政策之未来的一次长篇演讲中，国家安全顾问汤姆&#8226;多尼伦一次也没有提到台湾地区。其他高官在关于这一地区的重大演讲中也没有谈到台湾。
以美国人的言论来判断，人们可能会断言，随着发生台海冲突的威胁减弱，台湾的战略重要性也降低了。
两岸统一不利美日
文章认为，事实上，对亚洲的未来而言，台湾地区正变得越来越重要。这是因为，虽然台海两岸的关系自2008年来有所改善，但大陆与其他邻国的关系却已恶化——因为北京在东海和南海奉行令人担忧的“咄咄逼人”的新政策。与此同时，中国大陆的军事支出继续着两位数涨幅——其中很多面向的是以五角大楼在西太平洋地区投放兵力的能力为目标的武器。
文章称，凡此种种，都对以下这个一度受人欢迎的观点构成了挑战：只要除去了因台湾地区而发生冲突这一威胁，就能确保中美关系获得一个稳定和平的立足点。相反，过去5年的经历增强了亚洲各方的担心：大陆的野心不只是台湾，它还想取代美国成为该地区头号强国。
文章说，这让美国又回到台湾问题上。如果在西太平洋空域和海域与中国大陆的安全竞争加剧这种可能性切实存在，台北将在竞争发展演变方面起重要作用。
在一定程度上，这是地理状况的结果。台湾处于“第一岛链”（大陆日益壮大的舰群与太平洋深海之间的一连串岛屿）的正中。中国大陆的军事战略长期以来一直承认，控制台湾对突破第一岛链这一障碍、然后向外投放兵力而言至关重要。
文章称，这正是邻国的防务计划制定者一想到台湾地区“重新落入”北京之手就感到万分惊恐的原因。东京的著名海上安全专家之一小谷哲夫说，“对日本和地区海军均势而言，失去台湾（使之落入中国大陆军队之手）将使整个局势为之改变”。
文章指出，除了地理，台湾也是考验美国可靠性的一块试金石。如果人们认为华盛顿将放弃这个岛屿、这个充满活力的民主国家，就将在那些指望美国保护自己不受中国大陆“侵犯”的亚洲国家中引发一场信任危机。
美对台须定新政策
文章说，这一切并不是说，海峡两岸间紧张关系趋缓不应受到欢迎。值得赞扬的是，奥巴马政府已批准将近200亿美元的对台军售、将台湾地区纳入一项免签证计划以及重启为一项贸易和投资框架协议举行的谈判。
文章认为，虽然采取了这些措施，两岸之间的力量对比仍在朝着有利于北京的方向倾斜，因此需要美国制定一项更有雄心的对台安全和经济工作计划。不仅应包括额外的军售——尤其是台北长期以来一直想要的潜艇，还应采取一些较不引人注目的措施，例如加强与台湾军队在训练和演习方面的合作，允许美军将领访问台湾地区，加深在网络安全方面的合作以及推动与台湾的自贸协议或将其纳入跨太平洋战略经济伙伴协定。
文章称，还应该公开地、毫不含糊地表明，台湾地区的命运与美国的国家利益继续联系在一起。在大声宣告在更大范围内将战略重心向亚洲转移的同时，奥巴马政府在这一问题上却几乎保持缄默，这显然在传达一种错误的信息。
', CAST(0x0000A1D500C02066 AS DateTime), N'核心提示： 美国外交学会国际问题研究员瑟丘克主张，应该公开地表明，台湾地区的命运与美国的国家利益继续联系在一起。')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (180, 6, N'男子用微信“摇一摇”寻找女网友 见面劫财又劫色', N'陈彧', CAST(0x0000A1D500C0588A AS DateTime), N'', N'南方日报讯 近日，中山市第一市区人民检察院办理了两宗犯罪嫌疑人涉嫌利用手机通讯软件——微信的交友功能寻找作案目标并实施犯罪的案件，分别以涉嫌抢夺罪依法批准逮捕犯罪嫌疑人张某、李某，以涉嫌抢劫罪、强奸罪依法批准逮捕犯罪嫌疑人刘某、魏某。
　　据了解，在这两宗案件中，犯罪罪嫌疑人都是利用手机通讯软件——微信中的“摇一摇”、“附近的人”功能寻找女性作为作案对象，在取得被害人信任后，以邀约喝酒、吃饭等与被害人见面，并以带被害人到餐馆吃宵夜或送被害人回家等为名，驾车将被害人带至偏僻路段实施犯罪。
　　办案检察官告诉记者，上述两宗案件的4名犯罪嫌疑人利用当下时兴的手机通讯软件——微信寻找作案目标，以交友之名，行抢财劫色之实，作案手段比较新，已引起了有关执法部门的高度关注。在此提醒市民特别是女性市民不要轻信陌生人，以免掉进不法分子设好的圈套。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (181, 6, N'“奶粉大盗”穿女人紧身裤作案 裤裆藏货偷20多罐', N'韦鹏', CAST(0x0000A1D500C08CED AS DateTime), N'', N'(广西)罗城仫佬族自治县3名男子从“前辈”那里学来偷盗奶粉“高招”之后，便结伙出道。两天时间内，他们开着租来的轿车从柳州至桂林一路“扫货”，连连得手20多罐高档奶粉（价值约为4000余元）。
　　令人纳闷的是，奶粉罐体积那么大，这伙人是如何从超市里神不知鬼不觉地偷走奶粉的呢？近日，鹿寨警方经过一个月的连续作战，先后将3名“奶粉大盗”抓获归案，也揭开了“奶粉大盗”裤裆里藏货的盗窃手段。
3镇连发奶粉盗窃案
　　4月28日，鹿寨县黄冕镇的一家超市老板发现，店内的4罐奶粉不翼而飞了，这些奶粉每罐都在200元以上。
　　老板想不通，这么大体积的物品，小偷使的是什么法子神不知鬼不觉地偷走？
　　鹿寨县公安局黄冕派出所接到报案后，会同刑侦大队迅速展开侦查。经查看监控录像，民警发现有3名可疑男子当日中午时分在店内晃悠，其中有一个摄像头记录了一名男子往裤子里塞东西的动作。
　　就在民警有条不紊地侦查时，4月29日，鹿寨县中渡镇及平山镇又各有一家超市报案，称他们的店内也被盗奶粉，前者被盗了1罐，后者被盗了5罐。民警查看监控录像，发现还是那3名男子有嫌疑。
红色轿车牵出嫌疑人
　　3名男子是鹿寨本地人还是外来人员？虽然掌握了3人的相貌特征，但确认身份却有很大难度。经反复查看案发地周边的天网监控，民警发现一辆可疑的红色轿车。经查，此车来自柳州市区的某出租车行，租车者是一名叫韦某的男子。
　　韦某会不会是“奶粉大盗”之一？民警将3名嫌疑男子的照片打印出来，让租车行老板辨认。果然，韦某正是其中之一。
　　锁定韦某后，民警根据线索对其生活轨迹进行侦查，最终确定另外两名嫌疑人为吴某和罗某。 
3“奶粉大盗”先后落网
　　5月10日，获知吴某在柳州市区出现，民警迅速出击将其抓获。吴某承认，黄冕镇、中渡镇及平山镇超市的奶粉被盗案是他与韦某、罗某共同作的案。
　　但这时，韦某、罗某已闻到吴某被抓的“味道”，分头匿藏了起来。直到5月27日，民警获知两人在柳州市区浮头，便从鹿寨赶到柳州市区抓捕。
　　在一间出租屋外，民警周密部署后准备围捕。可是，民警发现只有一个人在打电话，难道有一名嫌疑人外出买东西去了？为了不打草惊蛇，民警决定在屋外监控，等两人都到齐了再抓捕。然而等了一个多小时，仍不见另外一人回来，民警决定先进屋抓人，再藏身屋内守株待兔。
　　当晚10时许，民警冲进出租房。没想到，两名嫌疑人都在屋内，原来当时一个人在不停打电话，另外一个人睡着了。
　　至此，3名嫌疑人全部落网。
穿女人紧身中裤作案
　　经查，吴某（20岁）、韦某（19岁）和罗某（21岁）均为罗城县人。韦某还是被百色市警方于5月23日列为网逃的嫌疑人，其涉嫌的也是盗窃奶粉。
　　据吴某等人供述，在4月28、29日，他们不止在鹿寨县的3个镇作案。
　　原来，4月28日韦某租来轿车后，3人就从柳州上了高速路往桂林方向而去，沿途他们在永福县城、苏桥镇、桂林市区、百寿镇、中渡镇、平山镇、东泉镇、沙塘镇等地的超市一路作案，最后回到柳州，共盗得高档奶粉20多罐，然后以一半的价格销赃。
　　到底这3人是如何“神偷”的呢？原来，3人都属于瘦小型的人，作案时，他们先将一条女款紧身中裤穿里面，然后外面再穿一条大大宽宽的运动裤，紧身裤主要是把罐装奶粉固定在裤裆处，运动裤则是起掩盖作用。超市顾客少时，他们就派其中一人引开收银员视线，另外两人快速作案；如果超市人多，他们就一齐上，得手后有时直接离开，有时则故意买个口香糖或便宜香烟之类的小东西，再大模大样离去。
　　6月3日，吴某、韦某和罗某因涉嫌盗窃罪，已被鹿寨警方提请逮捕，案件仍在进一步审理中。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (182, 4, N'美男篮邀请考辛斯参加训练营 厄文小乔丹同获邀', N'', CAST(0x0000A1D500C0BE6B AS DateTime), N'', N'根据最新消息，美国男篮已向几位优秀的年轻球员发出了训练营邀请，这些球员包括国王的考辛斯、快船的小乔丹、骑士的厄文、泽勒、威特斯等。
美国男篮的迷你训练营将在7月末举行，去年夏天考辛斯曾参加训练营，和美国男篮的主力阵容进行对抗，当时美男篮主管科朗吉洛表示，考辛斯还有很多方面不成熟，需要更多的成长。对此考辛斯很不高兴，还找科朗吉洛质问。
不过，现在知情人透露，在美国男篮高层进行了诸多争论后，考辛斯还是得到了邀请名额，参加这次迷你训练营，他将有机会正式入选美国队。
“你得把过去埋葬掉，然后继续向前，”科朗吉洛说道，“他受到了邀请，他绝对在我们的名单上。新的一年，新的夏天，新的机会。”
考辛斯在国王效力了3个赛季，是目前全联盟最有进攻才华的大个子球员，他具备在内线得分的多种手段，也有远距离投射能力，又会控球和传球。上赛季考辛斯场均可以交出17.1分、9.9篮板的数据。
不过考辛斯最大的问题在于他的易怒性格，情绪不稳定，和自己的两个前任主教练斯马特、威斯特法尔都发生过争吵，和队友、其它球队的人事、媒体也都有过争执。
在被问到最喜欢考辛斯打球的哪些方面时，科朗吉洛回答：“个头，天赋。”
快船的中锋小乔丹也透露自己同样收到了邀请。
“我很高兴能有这次机会，”乔丹说道，“我得把握住它。”
乔丹上赛季场均数据是8.8分、7.2篮板、1.37盖帽。
骑士的全明星控卫厄文和两个队友威特斯、泽勒也都收到了邀请。
美国男篮举办迷你训练营的地点在拉斯维加斯，时间从7月23日到26日。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (183, 4, N'高中女生邀帕森斯参加舞会 高富帅租豪车护花', N'', CAST(0x0000A1D500C0EA87 AS DateTime), N'', N'据《休斯敦纪事报》报道，近日一名休斯敦的高中女生向火箭队球星钱德勒-帕森斯发出邀请，邀请高富帅送她参加毕业舞会，高富帅因故没能前往，但是他却和火箭队租了一辆派对巴士，让这辆豪华巴士代替自己去送那位高中女生参加毕业舞会——
高富帅收到高中女生邀请
推特（Twitter）真的很酷，它允许任何人之间的直接、实时交流，如果处理得当，它可以作为球迷和球员之间沟通的一个很好的方式。前不久热火队球星德怀恩-韦德就受邀参加了一位高中女生的毕业舞会，那位幸运的女生是通过视频网站表达愿望的。而近日火箭队球星帕森斯也收到了一位高中女生的邀请，只不过休斯敦的这位高中女生是通过推特表达愿望的。
休斯敦的这位高中女生名叫斯蒂芬妮-弗洛雷斯(微博)，为了能让偶像参加自己的毕业舞会，她于两周前就在推特上向高富帅发出了邀请。“钱德勒-帕森斯，能帮我个忙吗？希望你能在5月31日那天陪同我去参加我的毕业舞会。一个简单的回复就会让我非常开心，我可是你的超级粉丝哟。”
可以看出弗洛雷斯并没有信心能够邀请到高富帅，但是令她没有想到的是，高富帅很快就进行了回复。“史蒂芬妮-弗洛雷斯，感谢你的邀请！！不幸的是我没有在休斯敦，我祝你玩得开心！！也要注意安全！”高富帅的回复让弗洛雷斯非常意外，她立即回复到：“你能回复我就意味着一切，非常感谢！火箭加油！”接着她又发了一条推特：“钱德勒-帕森斯回复了我！！！哈哈！！！”
高富帅租豪华巴士送美女
但是这个故事并没有就此结束，作为联盟中性价比最高的球员之一，帕森斯的年薪不到100万美元，他当然不能给弗洛雷斯送什么大礼，但是他还是送出了自己的温馨礼物。随后帕森斯委托火箭队工作人员和弗洛雷斯取得了联系，并租了一辆豪华派对巴士送弗洛雷斯参加毕业舞会。
对于火箭队和帕森斯的这份礼物，弗洛雷斯当然是受宠若惊：“非常感谢火箭队和帕森斯的这辆豪华巴士！你们让我的毕业舞会变得非常特别！”弗洛雷斯还特意拿着火箭队的旗帜和这辆豪华巴士进行了合影，并把照片晒在了推特上。
据《休斯敦纪事报》报道，近日一名休斯敦的高中女生向火箭队球星钱德勒-帕森斯发出邀请，邀请高富帅送她参加毕业舞会，高富帅因故没能前往，但是他却和火箭队租了一辆派对巴士，让这辆豪华巴士代替自己去送那位高中女生参加毕业舞会——
高富帅收到高中女生邀请
推特（Twitter）真的很酷，它允许任何人之间的直接、实时交流，如果处理得当，它可以作为球迷和球员之间沟通的一个很好的方式。前不久热火队球星德怀恩-韦德就受邀参加了一位高中女生的毕业舞会，那位幸运的女生是通过视频网站表达愿望的。而近日火箭队球星帕森斯也收到了一位高中女生的邀请，只不过休斯敦的这位高中女生是通过推特表达愿望的。
休斯敦的这位高中女生名叫斯蒂芬妮-弗洛雷斯(微博)，为了能让偶像参加自己的毕业舞会，她于两周前就在推特上向高富帅发出了邀请。“钱德勒-帕森斯，能帮我个忙吗？希望你能在5月31日那天陪同我去参加我的毕业舞会。一个简单的回复就会让我非常开心，我可是你的超级粉丝哟。”
可以看出弗洛雷斯并没有信心能够邀请到高富帅，但是令她没有想到的是，高富帅很快就进行了回复。“史蒂芬妮-弗洛雷斯，感谢你的邀请！！不幸的是我没有在休斯敦，我祝你玩得开心！！也要注意安全！”高富帅的回复让弗洛雷斯非常意外，她立即回复到：“你能回复我就意味着一切，非常感谢！火箭加油！”接着她又发了一条推特：“钱德勒-帕森斯回复了我！！！哈哈！！！”
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (184, 4, N'步行者崩盘主要原因在哪 解决3问题能发起更强挑战', N'魑魅', CAST(0x0000A1D500C13E10 AS DateTime), N'', N'新浪体育讯　北京时间6月4日，印第安纳步行者未能迈出最后一步，在抢七战以76-99落败，总比分3-4出局。抢七战脆败，步行者既在擅长的领域被对手以牙还牙，也被老问题困扰。不过，薪资结构健康的步行者在未来几年，将依然是热火`微博`在东区最大的威胁。
　　首先该问责的是篮板。系列赛前6场，在篮板上称雄的都是步行者。尤其是在进攻篮板上，除开第5场双方持平(都抢了6个)外，其他5场步行者均领先，场均领先热火接近4个进攻篮板。季后赛迄今，步行者在场均总篮板和进攻篮板两项上，均傲视群雄。
　　但本场发生了什么？全场热火进攻篮板竟以15-8领先，德维恩-韦德`微博`一人抓下6个。步行者内线擎天柱罗伊-希伯特，前三节篮板数仅比其犯规数(5次)多一个。热火获得大量二次进攻机会，由此也在出手数上领先(76-69)。在命中率相差无几时，这对步行者来说是致命的。
　　如果说本场篮板失守，对步行者只是偶发情况，那么替补的孱弱和控卫的缺失，则是步行者的老毛病。据82games.com统计，本赛季步行者首发五虎同时出场达到了1218分钟，其他5人组中，只有杰拉德-格林和伊安-马辛米分别搭档四位首发的两套阵容，同时出场时间超过了100分钟。此前，业界就指出，步行者总在阵容轮换的间隙，被热火打出攻击波。本场，步行者替补仅得14分。在两大核心被严防的情况下，替补却无法续命。
　　此外，步行者的控卫问题也值得关注。没有优秀的控球手(乔治-希尔的长项在投篮和防守，组织非其所长，D.J.-奥古斯丁则攻击力有限)，导致了步行者失误居高不下。季后赛迄今，步行者场均16.2次失误，在16支球队中仅排名第12位。本场首节，步行者就出现多达9次失误，半场则为15次。全场失误21次，送分达到15分。
　　看到问题，才能明确未来调整的方向，不外乎三个方面：控卫、替补和高效得分手(该队攻防质量是不成比例的)。步行者的薪资结构是较为健康的，本赛季薪资总额在NBA`微博`仅排名第22位。不过有三点值得该队高层关注：
　　其一是大卫-韦斯特面临续约，其二，步行者高层去年夏天也曾看到球队问题，但花出去的钱却打了水漂。格林、马辛米和D.J.-奥古斯丁等新援并未打出符合预期的表现，今夏该如何将钱花在刀刃上，考验着步行者高层是否有识人之明。
　　其三，则是如何处理丹尼-格兰杰。他5年6000万的合同到2014年夏到期，下赛季还要继续支取1400多万薪水。但从2008-09赛季开始，他有3个赛季出场次数不到70场，本赛季甚至仅打了5场就高挂免战牌。他伤停时，球队的主导权已交到了乔治手中。尽管队友力挺他：“有格兰杰在我们会更强”，但高层可能早已打定主意“清君侧”。
　　挑战和机遇并存，步行者下一步会怎么走，拭目以待。
　　
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (185, 5, N'"星跳水立方"决战临近 陈楚生被华谊要求进前三', N'', CAST(0x0000A1D500C15FBC AS DateTime), N'', N'江苏卫视全明星跳水竞技节目《星跳水立方》成今夏炎炎烈日中的清凉一景，下周五就会迎来最终的总决赛之夜，参赛的众多明星选手角逐比赛的同时也向观众展现了不同风姿，观众从这一档节目中看到了明星不同于璀璨舞台的另一面。目前歌手陈楚生成《星条水立方》夺冠热门选手，其所属华谊老总更是为其请私人教练，下任务要求其进前三，拉开总决赛激烈竞争的帷幕。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (186, 5, N'《致命黑兰》佐伊坐拥7种武器 暴力登陆全国院线', N'', CAST(0x0000A1D500C17639 AS DateTime), N'', N'国际在线专稿；好莱坞电影《致命黑兰》即将于6月7日在全国院线“暴力着陆”。该片由华夏电影公司发行，著名导演吕克&#8226;贝松监制，《飓风营救2》导演奥利维尔&#8226;米加顿指导，《阿凡达》、《星际迷航：暗黑无界》女主角佐伊&#8226;索尔达娜主演。影片中，女主角佐伊坐拥7种独门武器，索命于无形，杀人点滴间。
', CAST(0x0000000000000000 AS DateTime), N'')
INSERT `NEWS` (`NID`, `NTID`, `NTITLE`, `NAUTHOR`, `NCREATEDATE`, `NPICPATH`, `NCONTENT`, `NMODIFYDATE`, `NSUMMARY`) VALUES (187, 5, N'《新恋爱时代》登东方卫视 的《非诚》元素遭删除', N'', CAST(0x0000A1D500C196C2 AS DateTime), N'', N'因江苏卫视的“非诚勿扰版“和东方卫视的“百里挑一版”节目的“双重”冠名，电视剧 《新恋爱时代》未播先惹是非。昨日，东方卫视的“百里挑一版”《新恋爱时代》发布会在沪启动，剧中主演姚笛、任重、高露、郑凯、凯丽悉数亮相。据悉，东方卫视播出的“百里挑一版”《新恋爱时代》将最大程度的删减《非诚勿扰》节目的相关内容。
　　据东方卫视电视剧宣传负责人介绍，《新恋爱时代》中所包含的《非诚勿扰》画面都会做剪切，将剧中涉及《非诚勿扰》的剧情最大化删减，打造彻彻底底的“百里挑一版”《新恋爱时代》。东方卫视定制版融入了“边看电视边相亲”的服务概念，将全国首档恋爱交友类生活服务电视剧的“服务功能”做足。发布会现场便应证了以上内容，东方卫视“百里挑一版”《新恋爱时代》巨型背板及屏上角标的展示，连主持人都由骆新、倪琳担纲，《百里挑一》的人气嘉宾叶梓萱、曹俊、王芳、赵洁也来到现场，与主演任重、姚笛、高露、郑凯进行现场相亲。《百里挑一》女嘉宾嗲妹妹叶梓萱力争上游，示好语录随口就来——“遇见你以后，天空和大地都变了样”让任重和郑凯都“难以招架”。

', CAST(0x0000000000000000 AS DateTime), N'')

INSERT `COMMENTS` (`CID`, `CNID`, `CCONTENT`, `CDATE`, `CIP`, `CAUTHOR`) VALUES (4, 73, N'无聊！！', CAST(0x00009DCE00E2494C AS DateTime), N'127.0.0.1', N'这家伙很懒什么也没留下')
INSERT `COMMENTS` (`CID`, `CNID`, `CCONTENT`, `CDATE`, `CIP`, `CAUTHOR`) VALUES (5, 108, N'很饱啊', CAST(0x00009DCE0104E380 AS DateTime), N'127.0.0.1', N'那只虫子')
INSERT `COMMENTS` (`CID`, `CNID`, `CCONTENT`, `CDATE`, `CIP`, `CAUTHOR`) VALUES (11, 82, N'评论一下 我是admin', CAST(0x00009CCA00415C08 AS DateTime), N'127.0.0.1', N'admin')

